schema/down/CBS.011.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MainBody" type="MainBody"/>
			<xs:element name="CdesSgntr" type="CdesSgntr"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MainBody">
		<xs:sequence>
			<xs:element name="MsgId" type="MsgId"/>
			<xs:element name="OrgnlMsgId" type="OrgnlMsgId"/>
			<xs:element name="BizCtrlInf" type="BizCtrlInf"/>
			<xs:element name="ComrclDrft" type="ComrclDrft" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
   	<xs:complexType name="MsgId">
		<xs:sequence>
			<xs:element name="Id" type="Max35AlphaNumericText"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgnlMsgId">
		<xs:sequence>
			<xs:element name="Id" type="Max35AlphaNumericText"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BizCtrlInf">
		<xs:sequence>
			<xs:element name="PrcCd" type="MaxMin9AlphaNumericText"/>
			<xs:element name="PrcMsg" type="Max256Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComrclDrft">
		<xs:sequence>
			<xs:element name="BpNo" type="MaxMin30NumericText"/>
			<xs:element name="BpTp" type="DraftTypeCode"/>
			<xs:element name="BpAmt" type="CurrencyAndAmount"/>
			<xs:element name="BpNum" type="Max10NumericText"/>
			<xs:element name="CdRange" type="Max25Text"/>
			<xs:element name="CdAmt" type="CurrencyAndAmount"/>
			<xs:element name="CdNum" type="Max10NumericText"/>
			<xs:element name="IssDt" type="ISODate"/>
			<xs:element name="DueDt" type="ISODate"/>
			<xs:element name="Note" type="Max150Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DwrInf" type="DwrInf" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcptPsnInf" type="AcptPsnInf" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PyeeInf" type="PyeeInf" minOccurs="0" maxOccurs="1"/>
			<xs:element name="HldrBnkInf" type="HldrBnkInf" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StuInf" type="StuInf" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcptGuaInf" type="AcptGuaInf" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DwrInf">
		<xs:sequence>
			<xs:element name="Name" type="Max60Text"/>
			<xs:element name="Acct" type="Max32AlphaNumericText"/>
			<xs:element name="AcctSvcr" type="MaxMin12NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SocCode" type="MaxMin18AlphaNumericSymbolText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcptPsnInf">
		<xs:sequence>
			<xs:element name="Name" type="Max60Text"/>
			<xs:element name="Acct" type="Max32AlphaNumericText"/>
			<xs:element name="AcctSvcr" type="MaxMin12NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SocCode" type="MaxMin18AlphaNumericSymbolText" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PyeeInf">
		<xs:sequence>
			<xs:element name="Name" type="Max60Text"/>
			<xs:element name="Acct" type="Max32AlphaNumericText"/>
			<xs:element name="AcctSvcr" type="MaxMin12NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SocCode" type="MaxMin18AlphaNumericSymbolText" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HldrBnkInf">
		<xs:sequence>
			<xs:element name="HldrCode" type="MaxMin6AlphaNumericText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StuInf">
		<xs:sequence>
			<xs:element name="CdStatus" type="MaxMin6AlphaNumericText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcptGuaInf">
		<xs:sequence>
			<xs:element name="Name" type="Max60Text"/>
			<xs:element name="Acct" type="Max32AlphaNumericText"/>
			<xs:element name="AcctSvcr" type="MaxMin12NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SocCode" type="MaxMin18AlphaNumericSymbolText" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	
	<xs:simpleType name="Max35AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[a-zA-Z0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="MaxMin9AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[a-zA-Z0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max256Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin30NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="30"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DraftTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AC01"/>
			<xs:enumeration value="AC02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!--modified by 修改人：张杰  修改日期：2020/8/30   版本号：2010_A 修改内容：由于标准金额修改，正则校验支持两位小数   -->
	<xs:simpleType name="CurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="(\d{1,10})|(\d{1,10}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="CNY"/>
		</xs:restriction>
	</xs:simpleType>
	<!--modified by 修改人：张杰  修改日期：2020/9/01   版本号：2010_A 修改内容：由于标准金额修改，修改长度12   -->
	<xs:simpleType name="Max10NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="[0-9]{1,12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="Max25Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max150Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max60Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max32AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin12NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="12"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="[0-9]{1,12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin18AlphaNumericSymbolText">
		<xs:restriction base="xs:string">
			<xs:minLength value="18"/>
			<xs:maxLength value="18"/>
			<xs:pattern value="[a-zA-Z0-9\-]{1,18}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin6AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[a-zA-Z0-9]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="CdesSgntr">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
