schema/down/CCM.004.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="SysStsInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OrgnlSysDt" type="ISODate"/>
				<xs:element name="SysDt" type="ISODate"/>
				<xs:element name="OrgnlSysSts" type="SysSts"/>
				<xs:element name="CurSysSts" type="SysSts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:element name="MsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MainBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgId"/>
				<xs:element ref="SysStsInf"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MainBody"/>
				<xs:element ref="CdesSgntr"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="SysSts">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SS00"/>
			<xs:enumeration value="SS01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:element name="CdesSgntr" type="xs:string"/>
	<xs:simpleType name="CdesSignature">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
