schema/down/CCM.007.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="NtInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Cnts" type="Max150Text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Max150Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="MsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>

	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MainBody"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MainBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgId"/>
				<xs:element ref="NtInf"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
</xs:schema>
