schema/down/CES.024.002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MainBody"/>
				<xs:element name="CdesSgntr" type="Signature" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="MainBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgId"/>
				<xs:element ref="ApplyAppInf"/>
				<xs:element ref="ApprInf"/>
				<xs:element ref="Blist"  minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ExtInfs"  minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 报文标识 -->
	<xs:element name="MsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/> <!-- 报文标识号 -->
				<xs:element name="CreDtTm" type="ISODateTime"/> <!-- 报文时间 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 申请单信息 -->
	<xs:element name="ApplyAppInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ApplyId" type="MaxMin17AlphaNumericText"/> <!-- 申请单编号 -->
				<xs:element name="ApplyRelId" type="Max10NumericText" minOccurs="0" maxOccurs="1"/> <!-- 申请单修改关联号 -->
				<xs:element name="BusiType" type="BusiType"/> <!-- 业务类型 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 审批信息 -->
	<xs:element name="ApprInf">
   		<xs:complexType>
			<xs:sequence>
				<xs:element name="CpBrId" type="MaxMin9NumericText"/> <!-- 人行机构参与者代码 -->
				<xs:element name="ApprResult" type="SignUpMarkCode"/><!-- 审批结果 -->
				<xs:element name="AcptUsrId" type="Max10AlphaNumericText"/> <!-- 受理审核人用户ID -->
				<xs:element name="AcptUsrName" type="Max50Text"/> <!-- 受理审核人名称 -->
				<xs:element name="AcptUsrNote" type="Max300Text"/> <!-- 受理审核人审批意见 -->
				<xs:element name="CompleteUsrId" type="Max10AlphaNumericText" minOccurs="0" maxOccurs="1"/> <!-- 复核人用户ID -->
				<xs:element name="CompleteUsrName" type="Max50Text" minOccurs="0" maxOccurs="1"/> <!-- 复核人名称 -->
				<xs:element name="CompleteUsrNote" type="Max300Text" minOccurs="0" maxOccurs="1"/> <!-- 复核人审批意见 -->
				<xs:element name="ApprovalUsrId" type="Max10AlphaNumericText" minOccurs="0" maxOccurs="1"/> <!-- 审批人用户ID -->
				<xs:element name="ApprovalUsrName" type="Max50Text" minOccurs="0" maxOccurs="1"/> <!-- 审批人名称 -->
				<xs:element name="ApprovalUsrNote" type="Max300Text" minOccurs="0" maxOccurs="1"/> <!-- 审批人审批意见 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 拒绝受理票据清单 -->
	<xs:element name="Blist">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Bill" minOccurs="1" maxOccurs="unbounded"/>			
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 票据 -->
	<xs:element name="Bill">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CdNo" type="Max30NumericText"/> <!-- 票据（包）号 -->
				<xs:element name="CdRange" type="Max25Text" minOccurs="0" maxOccurs="1"/> <!-- 子票区间 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 扩展信息 -->
	<xs:element name="ExtInfs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ExtInf" minOccurs="1" maxOccurs="unbounded"/><!-- 扩展属性 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 扩展属性 -->
	<xs:element name="ExtInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max150Text"/> <!-- 属性名 -->
				<xs:element name="Value" type="Max500Text"/> <!-- 属性值 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name="Signature">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="MaxMin17AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="17"/>
			<xs:maxLength value="17"/>
			<xs:pattern value="[a-zA-Z0-9]{1,17}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SignUpMarkCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SU01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BusiType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RBT01"/>
			<xs:enumeration value="RBT02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin9NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[a-zA-Z0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max50Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max300Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="300"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max30NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max150Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max500Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max25Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>