schema/down/CES.009.002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MainBody" type="MainBody"/>
			<xs:element name="CdesSgntr" type="CdesSgntr"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MainBody">
		<xs:sequence>
			<xs:element name="MsgId" type="MsgId"/>
			<xs:element name="DealInf" type="DealInf"/>
			<xs:element name="QuoteInf" type="QuoteInf"/>
			<xs:element name="SlfInf" type="SlfInf"/>
			<xs:element name="CpInf" type="CpInf"/>
			<xs:element name="QuoteFctInf" type="QuoteFctInf"/>
			<xs:element name="Blist" type="Blist"/>
			<xs:element name="ExtInfs" type="ExtInfs" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Blist">
		<xs:sequence>
			<xs:element name="Bill" type="Bill" minOccurs="1" maxOccurs="500"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExtInfs">
		<xs:sequence>
			<xs:element name="ExtInf" type="ExtInf" minOccurs="1" maxOccurs="500"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExtInf">
		<xs:sequence>
			<xs:element name="Name" type="Max150Text"/>
			<xs:element name="Value" type="Max500Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsgId">
		<xs:sequence>
			<xs:element name="Id" type="Max35NumericText"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DealInf">
		<xs:sequence>
			<xs:element name="DealId" type="Max20AlphaNumericText"/>
			<xs:element name="TrdType" type="TrdType"/>
			<xs:element name="TrdDate" type="ISODate"/>
			<xs:element name="DealTime" type="ISODateTime"/>
			<xs:element name="DealSta" type="DealSta"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QuoteInf">
		<xs:sequence>
			<xs:element name="QuoteId" type="MaxMin16AlphaNumericText"/>
			<xs:element name="BusiType" type="BusiType"/>
			<xs:element name="TrdDir" type="CrdDir"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SlfInf">
		<xs:sequence>
			<xs:element name="ReqBranch" type="MaxMin9NumericText"/>
			<xs:element name="ProductId" type="MaxMin9NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ReqUser" type="Max10AlphaNumericText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CpInf">
		<xs:sequence>
			<xs:element name="CpBranch" type="MaxMin9NumericText"/>
			<xs:element name="CpProductId" type="MaxMin9NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CpUser" type="Max10AlphaNumericText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QuoteFctInf">
		<xs:sequence>
			<xs:element name="CdType" type="CdType"/>
			<xs:element name="CdMedia" type="CdMedia"/>
			<xs:element name="DrftNm" type="Max10NumericText"/>
			<xs:element name="SumAmt" type="CurrencyAndAmount"/>
			<xs:element name="TenorDays" type="Max10NumericText"/>
			<xs:element name="SetSpeed" type="SetSpeed"/>
			<xs:element name="ClrTp" type="ClrTp"/>
			<xs:element name="SetTime" type="ISOTime"/>
			<xs:element name="SetMode" type="SetMode"/>
			<xs:element name="SetAmt" type="CurrencyAndAmount"/>
			<xs:element name="SetAmt2" type="CurrencyAndAmount"/>
			<xs:element name="SetDate" type="ISODate"/>
			<xs:element name="SetDate2" type="ISODate"/>
			<xs:element name="TrdRate" type="PercentageRate"/>
			<xs:element name="TrdRate2" type="PercentageRate"/>
			<xs:element name="PayInt" type="CurrencyAndAmount"/>
			<xs:element name="PayInt2" type="CurrencyAndAmount"/>
			<xs:element name="YieldRate" type="PercentRate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Bill">
		<xs:sequence>
			<xs:element name="CdNo" type="Max30NumericText"/>
			<xs:element name="CdRange" type="Max25Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CdAmt" type="CurrencyAndAmount"/>
			<xs:element name="StdAmt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DueDt" type="ISODate"/>
			<xs:element name="MatDt" type="ISODate"/>
			<xs:element name="TenorDays" type="Max10NumericText"/>
			<xs:element name="TenorDays2" type="Max10NumericText"/>
			<xs:element name="PayInt" type="CurrencyAndAmount"/>
			<xs:element name="PayInt2" type="CurrencyAndAmount"/>
			<xs:element name="SetAmt" type="CurrencyAndAmount"/>
			<xs:element name="SetAmt2" type="CurrencyAndAmount"/>
			<xs:element name="CreditType" type="CreditType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CreditBranch" type="MaxMin9NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Note" type="Max1000Text" minOccurs="0" maxOccurs="1"/>			
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TrdType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TT01"/>
			<xs:enumeration value="TT02"/>
			<xs:enumeration value="TT03"/>
			<xs:enumeration value="TT04"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max1000Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DealSta">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DS01"/>
			<xs:enumeration value="DS02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="201"/>
			<xs:enumeration value="202"/>
			<xs:enumeration value="203"/>
			<xs:enumeration value="204"/>
			<xs:enumeration value="205"/>
			<xs:enumeration value="206"/>
			<xs:enumeration value="207"/>
			<xs:enumeration value="208"/>
			<xs:enumeration value="301"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:simpleType name="PercentRate">
		<xs:restriction base="xs:string">
			<xs:pattern value="([-]{0,1}\d{1,7})|([-]{0,1}\d{1,7}\.\d{1,6})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PercentageRate">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{1,1})|(\d{1,1}\.\d{1,6})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SetMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ST01"/>
			<xs:enumeration value="ST02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClrTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CT01"/>
			<xs:enumeration value="CT02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SetSpeed">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CS00"/>
			<xs:enumeration value="CS01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="ISOTime">
		<xs:restriction base="xs:time"/>
	</xs:simpleType>
	<xs:complexType name="CurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="([-]{0,1}\d{1,16})|([-]{0,1}\d{1,16}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="CNY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CdMedia">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ME01"/>
			<xs:enumeration value="ME02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CdType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AC01"/>
			<xs:enumeration value="AC02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CdesSgntr">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BusiType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BT03"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CrdDir">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRD01"/>
			<xs:enumeration value="CRD02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin16AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="16"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[a-zA-Z0-9]{16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max32Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin9NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[a-zA-Z0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max20AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
			<xs:pattern value="[a-zA-Z0-9]{1,20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max30NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max25Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max150Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max500Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
