schema/down/CES.037.002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MainBody" type="MainBody"/>
			<xs:element name="CdesSgntr" type="PtcptSgntr"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MainBody">
		<xs:sequence>
			<xs:element name="MsgId" type="MsgId"/>
			<xs:element name="BusiInf" type="BusiInf"/>		
			<xs:element name="ExtInfs" type="ExtInfs" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsgId">
		<xs:sequence>
			<xs:element name="Id" type="Max35NumericText"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BusiInf">
		<xs:sequence>
			<xs:element name="QuoteId" type="MaxMin16AlphaNumericText"/>
			<xs:element name="BusiType" type="BusiType"/>
			<xs:element name="TrdType" type="TradeType"/>
			<xs:element name="QuoteSta" type="AmQuoteStatus" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DealSta" type="DealStatus" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExtInfs">
		<xs:sequence>
			<xs:element name="ExtInf" type="ExtInf" minOccurs="1" maxOccurs="500"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExtInf">
		<xs:sequence>
			<xs:element name="Name" type="Max150Text"/>
			<xs:element name="Value" type="Max500Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>	
	<xs:simpleType name="PtcptSgntr">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BusiType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BT01"/>
			<xs:enumeration value="BT02"/>
			<xs:enumeration value="BT03"/>
			<xs:enumeration value="RBT01"/>
			<xs:enumeration value="RBT02"/>
			<xs:enumeration value="BT07"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TradeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TT01"/>
			<xs:enumeration value="TT02"/>
			<xs:enumeration value="TT03"/>
			<xs:enumeration value="TT04"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AmQuoteStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AQS01"/>
			<xs:enumeration value="AQS02"/>
			<xs:enumeration value="AQS03"/>
			<xs:enumeration value="AQS04"/>
			<xs:enumeration value="AQS05"/>
			<xs:enumeration value="AQS06"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DealStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DS01"/>
			<xs:enumeration value="DS02"/>
			<xs:enumeration value="DS03"/>
			<xs:enumeration value="DS05"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin16AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="16"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[a-zA-Z0-9]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max20AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
			<xs:pattern value="[a-zA-Z0-9]{1,20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max150Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max500Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
