schema/down/CES.016.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MainBody" type="MainBody"/>
			<xs:element name="CdesSgntr" type="CdesSgntr"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MainBody">
		<xs:sequence>
			<xs:element name="MsgId" type="MsgId"/>
			<xs:element name="OrgnlMsgId" type="OrgnlMsgId"/>
			<xs:element name="IoiReqInf" type="IoiReqInf"/>
			<xs:element name="ReqInf" type="ReqInf"/>
			<xs:element name="ReqFctInf" type="ReqFctInf"/>
			<xs:element name="AddBlist" type="AddBlist" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DelBlist" type="DelBlist" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsgId">
		<xs:sequence>
			<xs:element name="Id" type="Max35NumericText"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgnlMsgId">
		<xs:sequence>
			<xs:element name="Id" type="Max35NumericText"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IoiReqInf">
		<xs:sequence>
			<xs:element name="ReqId" type="MaxMin16AlphaNumericText"/>
			<xs:element name="ReqTime" type="ISODate"/>
			<xs:element name="QuoteOp" type="QuoteOp"/>
			<xs:element name="ModTimes" type="Max3NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BusiType" type="BusiType"/>
			<xs:element name="TrdDir" type="CrDir"/>
			<xs:element name="SendRange" type="SendRange"/>
			<xs:element name="SndList" type="SndList" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReqInf">
		<xs:sequence>
			<xs:element name="BranchId" type="MaxMin9NumericText"/>
			<xs:element name="ProductId" type="MaxMin9NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="UserId" type="Max10AlphaNumericText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReqFctInf">
		<xs:sequence>
			<xs:element name="CdType" type="CdType"/>
			<xs:element name="CdMedia" type="CdMedia"/>
			<xs:element name="BuyAmt" type="CurrencyOfTenThous" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MinTenorDays" type="TenorCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MaxTenorDays" type="TenorCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TrdRate" type="PercentageRate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TradeCpType" type="Max1000Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CreditType" type="Max2000Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SelType" type="CdSelectMode" />
			<xs:element name="PackSeq" type="MaxMin16AlphaNumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Notes" type="Max50Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SndList">
		<xs:sequence>
			<xs:element name="UserId" type="Max10AlphaNumericText" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddBlist">
		<xs:sequence>
			<xs:element name="Bill" type="Bill" minOccurs="1" maxOccurs="500"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Bill">
		<xs:sequence>
			<xs:element name="CdNo" type="Max30NumericText"/>
			<xs:element name="CdAmt" type="CurrencyAndAmount"/>
			<xs:element name="DueDt" type="ISODate"/>
			<xs:element name="MatDt" type="ISODate"/>
			<xs:element name="DsctDt" type="ISODate"/>
			<xs:element name="IssDt" type="ISODate"/>
			<xs:element name="DwrName" type="Max60Text"/>
			<xs:element name="PayName" type="Max60Text"/>
			<xs:element name="AcptSvcrBrId" type="MaxMin9NumericText"/>
			<xs:element name="DsctBrId" type="MaxMin9NumericText"/>
			<xs:element name="AddGrntBrId" type="MaxMin9NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcptCfmBrId" type="MaxMin9NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcptGrntBrId" type="MaxMin9NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DsctGrntBrId" type="MaxMin9NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CreditType" type="CreditType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CreditBranch" type="MaxMin9NumericText" minOccurs="0" maxOccurs="1"/>			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DelBlist">
		<xs:sequence>
			<xs:element name="Bill" type="DelBill" minOccurs="1" maxOccurs="500"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DelBill">
		<xs:sequence>
			<xs:element name="CdNo" type="Max30NumericText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PercentageRate">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{1,1})|(\d{1,1}\.\d{1,6})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CdSelectMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CSM01"/>
			<xs:enumeration value="CSM02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TenorCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TM000"/>
			<xs:enumeration value="TM001"/>
			<xs:enumeration value="TM007"/>
			<xs:enumeration value="TM014"/>
			<xs:enumeration value="TM030"/>
			<xs:enumeration value="TM090"/>
			<xs:enumeration value="TM180"/>
			<xs:enumeration value="TM270"/>
			<xs:enumeration value="TM360"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="SendRange">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CurrencyOfTenThous">
		<xs:simpleContent>
			<xs:extension base="CurrencyOfTenThous_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CurrencyOfTenThous_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="(\d{1,12})|(\d{1,12}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="(\d{1,16})|(\d{1,16}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="CNY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CdMedia">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ME01"/>
			<xs:enumeration value="ME02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CdType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AC01"/>
			<xs:enumeration value="AC02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="QuoteOp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BusiType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BT02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="201"/>
			<xs:enumeration value="202"/>
			<xs:enumeration value="203"/>
			<xs:enumeration value="204"/>
			<xs:enumeration value="205"/>
			<xs:enumeration value="206"/>
			<xs:enumeration value="207"/>
			<xs:enumeration value="208"/>
			<xs:enumeration value="301"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:simpleType name="CrDir">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRD01"/>
			<xs:enumeration value="CRD02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CdesSgntr">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin16AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="16"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[a-zA-Z0-9]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[a-zA-Z0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max3NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[1-9]\d{0,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max30NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin9NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max2000Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max1000Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max150Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max60Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max50Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
