schema/down/CIM.004.002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<!--edited by Jeff 20210521 票据业务系统新版报文-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MainBody"/>
				<xs:element name="CdesSgntr" type="Signature"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MainBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgId"/>
				<xs:element ref="OrgnlMsgId"/>
				<xs:element ref="SgnPsnInf" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="SgntrMk" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RrIdRel" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="SgnUpInf"/>
				<xs:element ref="ExtInfs" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MsgId"><!-- 报文信息组件 -->
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrgnlMsgId"><!-- 报文信息组件 -->
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SgnPsnInf"><!-- 参与者信息组件 -->
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppBrId" type="MaxMin6NumericText"/>
				<xs:element ref="DrtPtcptInf" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="NoDrtPtcptInf" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SgntrMk"><!-- 企业签章组件 -->
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PrxySgntr" type="ProxySignatureCode"/>
				<xs:element name="PtcptSgntr" type="Max2000Text" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="RrIdRel">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RelTp" type="RelTp"/>
				<xs:element name="CurBrId" type="MaxMin9NumericText"/>
				<xs:element name="OrgnlBrId" type="MaxMin9NumericText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SgnUpInf"><!-- 应答信息 -->
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Dt" type="ISODate"/>
				<xs:element name="SgnUpMk" type="SignUpMarkCode"/>
				<xs:element name="SgnUpCode"  minOccurs="0" maxOccurs="1"/>
				<xs:element name="OtherInf" type="Max150Text" minOccurs="0" maxOccurs="1"/>
				<xs:element name="UcondlConsgnmtMrk" type="ConsignmentCode" minOccurs="0" maxOccurs="1"/>
				<xs:element name="BtNo" type="Max40AlphaNumericText" minOccurs="0" maxOccurs="1"/>
				<xs:element name="AutoClsFlag" type="YON" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Note" type="Max150Text" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="ExtInfs"><!-- 扩展信息组件 -->
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ExtInf" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="RelTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RT01"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="DrtPtcptInf"><!-- 直接业务主体信息 -->
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PtcptId" type="Max32AlphaNumericSymbolText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="NoDrtPtcptInf"><!-- 非直接业务主体信息 -->
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max60Text" minOccurs="0" maxOccurs="1"/>
				<xs:element name="SocCode" type="Max32AlphaNumericSymbolText" minOccurs="0" maxOccurs="1"/>
				<xs:element name="DistTp" type="DistTp"/>
				<xs:element ref="CdAcctInf" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BrAcctInf" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="ExtInf"><!-- 扩展属性 -->
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max150Text"/>
				<xs:element name="Value" type="Max500Text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="CdAcctInf"><!-- 票据账户信息 -->
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Acct" type="Max32AlphaNumericSymbolText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="BrAcctInf"><!-- 银行账户信息 -->
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AcctName" type="Max150Text"/>
				<xs:element name="Acct" type="Max32AlphaNumericText"/>
				<xs:element name="OpenBrId" type="MaxMin9NumericText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	
	<xs:simpleType name="MaxMin9NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="|[0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="SignUpMarkCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SU00"/>
			<xs:enumeration value="SU01"/>
			<xs:enumeration value="SU02"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ConsignmentCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CC00"/>
			<xs:enumeration value="CC01"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ProxySignatureCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PS00"/>
			<xs:enumeration value="PS01"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="YON">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="0"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="DistTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DT01"/>
			<xs:enumeration value="DT02"/>
		</xs:restriction>
	</xs:simpleType>
	
<!--	<xs:simpleType name="MaxMin9NumericText">-->
<!--		<xs:restriction base="xs:string">-->
<!--			<xs:minLength value="6"/>-->
<!--			<xs:maxLength value="6"/>-->
<!--			<xs:pattern value="[0-9]{1,6}"/>-->
<!--		</xs:restriction>-->
<!--	</xs:simpleType>-->
<!--	-->
	<xs:simpleType name="MaxMin6NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>
	
		<xs:simpleType name="MaxMin4NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max150Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- 增加付款确认审批意见类型 add by kfzx-huangy1@20180326 -->
	<xs:simpleType name="Max300Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="300"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max500Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	
		<xs:simpleType name="Max2000Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max32AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="|[a-zA-Z0-9]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max40AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
			<xs:pattern value="[a-zA-Z0-9\-]{1,40}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max32AlphaNumericSymbolText">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="|[a-zA-Z0-9\-]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Signature">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="Max60Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
