schema/down/CIM.016.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MainBody"/>
				<xs:element name="CdesSgntr" type="Signature"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MainBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgId"/>
				<xs:element ref="OrgnlMsgId" minOccurs="0"/>
				<xs:element name="QuoteId" type="Max20AlphaNumericText" minOccurs="0"/>
				<xs:element ref="CdInf"/>
				<xs:element ref="DwrInf"/>
				<xs:element ref="AcptPsnInf"/>
				<xs:element ref="PyeeInf"/>
				<xs:element ref="HistoryInf"  maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CdesSgntr" type="xs:string"/>
	<xs:element name="MsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrgnlMsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CdInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CdType" type="DraftTypeCode"/>
				<xs:element name="CdNo" type="Max30NumericText"/>
				<xs:element name="CdAmt" type="CurrencyAndAmount"/>
				<xs:element name="IssDt" type="ISODate"/>
				<xs:element name="DueDt" type="ISODate"/>
				<xs:element name="BanEndrsmtMk" type="BanEndorsementMarkCode"/>
				<xs:element name="CurState" type="MaxMin6NumericText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DwrInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Nm" type="Max60Text"/>
				<xs:element name="CmonId" type="CmonCd"/>
				<xs:element name="Acct" type="Max32AlphaNumericText" minOccurs="0"/>
				<xs:element name="AcctSvcr" type="MaxMin12NumericText"/>
				<xs:element name="CdtRatgs" type="CreditRatings" minOccurs="0"/>
				<xs:element name="CdtRatgAgcy" type="Max60Text" minOccurs="0"/>
				<xs:element name="CdtRatgDueDt" type="ISODate " minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AcptPsnInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Nm" type="Max60Text"/>
				<xs:element name="Acct" type="Max32AlphaNumericText"/>
				<xs:element name="AcctSvcr" type="MaxMin12NumericText" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PyeeInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Nm" type="Max60Text"/>
				<xs:element name="CmonId" type="CmonCd"/>
				<xs:element name="Acct" type="Max32AlphaNumericText" />
				<xs:element name="AcctSvcr" type="MaxMin12NumericText" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HistoryInf">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="AcptInf"/>
				<xs:element ref="Endrsmt" minOccurs="0"/>
				<xs:element ref="Dscnt" minOccurs="0"/>
				<xs:element ref="RpdDscnt" minOccurs="0"/>
				<xs:element ref="Guarntee" minOccurs="0"/>
				<xs:element ref="Collztn" minOccurs="0"/>
				<xs:element ref="RqdCollztn" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="AcptInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Dt" type="ISODate"/>
				<xs:element name="UcondlConsgnmtMrk" type="ConsignmentCode"/>
				<xs:element name="UcondlPrmsMrk" type="ConsignmentCode"/>
				<xs:element name="TxlCtrctNb" type="Max30Text" minOccurs="0"/>
				<xs:element ref="Accptr" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Accptr">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Role" type="RoleCode"/>
				<xs:element name="Nm" type="Max60Text"/>
				<xs:element name="CmonId" type="CmonCd"/>
				<xs:element name="Acct" type="Max32AlphaNumericText"/>
				<xs:element name="AcctSvcr" type="MaxMin12NumericText"/>
				<xs:element name="CdtRatgs" type="CreditRatings" minOccurs="0"/>
				<xs:element name="CdtRatgAgcy" type="Max60Text" minOccurs="0"/>
				<xs:element name="CdtRatgDueDt" type="ISODate" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Endrsmt">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BanEndrsmtMk" type="BanEndorsementMarkCode"/>
				<xs:element name="Dt" type="ISODate"/>
				<xs:element ref="Endrsr" />
				<xs:element ref="Endrsee" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Endrsr">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Nm" type="Max60Text"/>
				<xs:element name="CmonId" type="CmonCd"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Endrsee">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Nm" type="Max60Text"/>
				<xs:element name="CmonId" type="CmonCd"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Dscnt">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RpdMk" type="RepurchasedMarkCode"/>
				<xs:element name="Dt" type="ISODate"/>
				<xs:element name="RpdOpenDt" type="ISODate" minOccurs="0"/>
				<xs:element name="RpdDueDt" type="ISODate" minOccurs="0"/>
				<xs:element ref="DscntPropsr" />
				<xs:element ref="DscntBk" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DscntPropsr">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Nm" type="Max60Text"/>
				<xs:element name="CmonId" type="CmonCd"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DscntBk">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Nm" type="Max60Text"/>
				<xs:element name="CmonId" type="CmonCd"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RpdDscnt">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BanEndrsmtMk" type="BanEndorsementMarkCode"/>
				<xs:element name="Dt" type="ISODate"/>
				<xs:element ref="DscntBk" />
				<xs:element ref="OrgnlDscntPropsr" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrgnlDscntPropsr">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Nm" type="Max60Text"/>
				<xs:element name="CmonId" type="CmonCd"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Guarntee">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Dt" type="ISODate"/>
				<xs:element ref="Warntee" />
				<xs:element ref="Guarntr" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Warntee">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Nm" type="Max60Text"/>
				<xs:element name="CmonId" type="CmonCd"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Guarntr">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Nm" type="Max60Text"/>
				<xs:element name="CmonId" type="CmonCd"/>
				<xs:element name="Adr" type="Max60Text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Collztn">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Dt" type="ISODate"/>
				<xs:element ref="CollztnProPsr" />
				<xs:element ref="CollztnBk" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CollztnProPsr">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Nm" type="Max60Text"/>
				<xs:element name="CmonId" type="CmonCd"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CollztnBk">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Nm" type="Max60Text"/>
				<xs:element name="CmonId" type="CmonCd"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RqdCollztn">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Dt" type="ISODate"/>
				<xs:element ref="CollztnBk" />
				<xs:element ref="OrgnlCollztnProPsr" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrgnlCollztnProPsr">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Nm" type="Max60Text"/>
				<xs:element name="CmonId" type="CmonCd"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	

	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="DraftTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AC01"/>
			<xs:enumeration value="AC02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BanEndorsementMarkCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EM00"/>
			<xs:enumeration value="EM01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ConsignmentCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CC00"/>
			<xs:enumeration value="CC01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RoleCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RC00"/>
			<xs:enumeration value="RC01"/>
			<xs:enumeration value="RC02"/>
			<xs:enumeration value="RC03"/>
			<xs:enumeration value="RC04"/>
			<xs:enumeration value="RC05"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RepurchasedMarkCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RM01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CmonCd">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[\-a-zA-Z0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditRatings">
		<xs:restriction base="xs:string">			
			<xs:pattern value="[0-9a-zA-Z\+\-]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max30Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin6NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max20AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
			<xs:pattern value="[a-zA-Z0-9]{1,20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max30NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="(\d{1,16})|(\d{1,16}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="CNY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="Max60Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max32AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin12NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="12"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="[0-9]{1,12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Signature">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	
</xs:schema>
