schema/down/CIM.004.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MainBody"/>
				<xs:element name="CdesSgntr" type="Signature"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MainBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgId"/>
				<xs:element ref="OrgnlMsgId"/>
				<xs:element ref="AnsInf"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrgnlMsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AnsInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RvBrId" type="MaxMin9NumericText"/>
				<xs:element name="SgnUpMk" type="SignUpMarkCode"/>
				<xs:element name="CfmRefCode" type="RefuseReason" minOccurs="0"/>
				<xs:element name="CfmApvOpin" type="Max300Text" minOccurs="0"/><!-- 调整付款确认审批意见位置 modified by kfzx-huangy1@20180416-->
				<xs:element name="PstRefCode" type="DishonorCode" minOccurs="0"/>
				<xs:element name="PstRefRsn" type="Max150Text" minOccurs="0"/>
				<xs:element name="SgnOpin" type="Max150Text" minOccurs="0"/><!-- 增加应答方处理意见 add by kfzx-huangy1@20180314-->
				<xs:element name="Note" type="Max150Text" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="MaxMin9NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SignUpMarkCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SU00"/>
			<xs:enumeration value="SU01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RefuseReason">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RR02"/>
			<xs:enumeration value="RR03"/>
			<xs:enumeration value="RR05"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DishonorCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CP01"/>
			<xs:enumeration value="CP02"/>
			<xs:enumeration value="CP03"/>
			<xs:enumeration value="CP04"/>
			<xs:enumeration value="CP05"/>
			<xs:enumeration value="CP06"/>
			<xs:enumeration value="CP07"/>
			<xs:enumeration value="CP08"/>
			<xs:enumeration value="CP09"/>
			<xs:enumeration value="CP10"/>
			<xs:enumeration value="CP11"/>
			<xs:enumeration value="CP12"/>
			<xs:enumeration value="CP13"/>
			<xs:enumeration value="CP14"/>
			<xs:enumeration value="CP15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max150Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- 增加付款确认审批意见类型 add by kfzx-huangy1@20180326 -->
	<xs:simpleType name="Max300Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="300"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Signature">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
