schema/down/CIM.033.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MainBody"/>
				<xs:element name="CdesSgntr" type="Signature"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MainBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgId"/>
				<xs:element ref="OrgnlMsgId"/>
				<xs:element ref="BizCtrlInf"/>
				<xs:element ref="DraftBasicInf" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="SlfInf" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CpInf" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ContInf" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="InvInf" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="OthVouInf" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="IsVeriFic" type="YON" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Notes" maxOccurs="1" minOccurs="0" type="Max150Text"/>
				<xs:element ref="ExtInfs" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrgnlMsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="BizCtrlInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PrcCd" type="MaxMin9AlphaNumericText"/>
				<xs:element name="PrcMsg" type="Max256Text" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="DraftBasicInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CdNo" minOccurs="0" maxOccurs="1" type="MaxMin30NumericText" />
				<xs:element name="CdRange" minOccurs="0" maxOccurs="1" type="Max25Text" />
				<xs:element name="CdAmt" type="CurrencyAndAmount" />
				<xs:element name="StdAmt" minOccurs="0" maxOccurs="1" type="CurrencyAndAmount" />
				<xs:element name="BillBeh" type="BillBeh" />
				<xs:element name="BillBehSeq" minOccurs="0" maxOccurs="1" type="Max5NumericText" />
				<xs:element name="TraAmt" type="CurrencyAndAmount" />
				<xs:element name="TraMod" type="TraMod" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="SlfInf" >
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppBrId" type="MaxMin6NumericText" />
				<xs:element ref="DrtPtcptInf" minOccurs="0" maxOccurs="1" />
				<xs:element ref="NoDrtPtcptInf" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="DrtPtcptInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PtcptId" type="Max32AlphaNumericSymbolText" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="NoDrtPtcptInf">
		<xs:complexType>
			<xs:sequence>
				<!--mod 2021-09-16 majunqing start				-->
				<xs:element name="Name" type="Max60Text" minOccurs="0" maxOccurs="1"/>
				<!--mod 2021-09-16 majunqing end				-->
				<xs:element name="SocCode" type="Max32AlphaNumericSymbolText" minOccurs="0" maxOccurs="1" />
				<xs:element name="DistTp" type="DistTp" />
				<xs:element ref="CdAcctInf" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BrAcctInf" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="CdAcctInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Acct" type="Max32AlphaNumericSymbolText" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="BrAcctInf">
		<xs:complexType>
			<xs:sequence>
				<!--add 2021-09-16 majunqing start				-->
				<xs:element name="AcctName" type="Max150Text" />
				<!--add 2021-09-16 majunqing end				-->
				<xs:element name="Acct" type="Max32AlphaNumericText" />
				<xs:element name="OpenBrId" type="MaxMin9NumericText" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="CpInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppBrId" type="MaxMin6NumericText" />
				<xs:element ref="DrtPtcptInf" minOccurs="0" maxOccurs="1" />
				<xs:element ref="NoDrtPtcptInf" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ContInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TraInfTyp" type="TraInfTp" />
				<xs:element name="TraMod" type="TraMod" />
				<xs:element name="ContNo" type="Max32AlphaNumericText" />
				<xs:element name="Dt" type="ISODate" />
				<xs:element name="ContAmt" type="CurrencyAndAmount" />
				<xs:element ref="AnxNos" minOccurs="0" maxOccurs="1" />
				<!-- <xs:element name="UsedTimes" type="Max5NumericText" /> -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="AnxNos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AnxNo" type="Max32AlphaNumericText" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

<!--	<xs:element name="AnxNo">-->
<!--		<xs:complexType>-->
<!--			<xs:sequence>-->
<!--				<xs:element name="AnxNo" type="Max32AlphaNumericText"/>-->
<!--			</xs:sequence>-->
<!--		</xs:complexType>-->
<!--	</xs:element>-->

	<xs:simpleType name="Signature">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="InvInf">
		<xs:complexType>
			<xs:sequence>
				<!--mod 2021-09-16 majunqing start				-->
				<xs:element name="InvNum" type="Max8NumericText" />
				<xs:element name="InvCd" type="Max12NumericText"  />
				<xs:element name="InvAmt" type="CurrencyAndAmount" />
				<xs:element name="InvDt" type="ISODate" minOccurs="0" maxOccurs="1" />
				<!--mod 2021-09-16 majunqing end				-->
				<xs:element name="InvTyp" type="Max10AlphaNumericText" />
				<xs:element ref="InvAnxNos" minOccurs="0" maxOccurs="1" />
				<xs:element name="UsedTimes" type="Max5NumericText" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="InvAnxNos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="InvAnxNo" type="Max32AlphaNumericText" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="OthVouInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OthVouNum" type="Max32AlphaNumericText" />
				<xs:element name="OthVouPur" type="Max500Text" />
				<xs:element ref="OthVouNos" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="OthVouNos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OthVouNo" type="Max32AlphaNumericText" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ExtInfs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ExtInf" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ExtInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" />
				<xs:element name="Value" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="Max500Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max256Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max32AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max10AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[a-zA-Z0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>

	<xs:simpleType name="MaxMin6NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="MaxMin30NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="30" />
			<xs:maxLength value="30" />
			<xs:pattern value="[0-9]{30}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MaxMin9NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>

	<xs:complexType name="CurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="CurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="(\d{1,16})|(\d{1,16}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CNY" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MaxMin9AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[a-zA-Z0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max25Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BillBeh">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BB01"/>
			<xs:enumeration value="BB02"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max5NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max32AlphaNumericSymbolText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9\-]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max150Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max100NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
			<xs:pattern value="[0-9]{1,100}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DistTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DT01"/>
			<xs:enumeration value="DT02"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TraInfTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TIT01"/>
			<xs:enumeration value="TIT02"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TraMod">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TM01"/>
			<xs:enumeration value="TM02"/>
			<xs:enumeration value="TM03"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="YON">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<!--add 2021-09-16 majunqing start				-->
	<xs:simpleType name="Max60Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max8NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max12NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="[0-9]{1,12}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--add 2021-09-16 majunqing end				-->

</xs:schema>
