schema/down/CPP.009.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- 元素声明 start -->
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MainBody"/>
				<xs:element name="CdesSgntr" type="Signature"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MainBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgId"/>
				<xs:element ref="OrgnlMsgId"/>
				<xs:element ref="BizCtrlInf"/>
				<xs:element ref="DsctOutInf" minOccurs="0"/>
				<xs:element ref="DsctEnInf" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CdesSgntr" type="xs:string"/>
	<xs:element name="MsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrgnlMsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BizCtrlInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PrcCd" type="MaxMin9AlphaNumericText"/>
				<xs:element name="PrcMsg" type="Max256Text" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DsctOutInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SocCode" type="MaxMin18AlphaNumericSymbolText"/>
				<xs:element name="Name" type="Max60Text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DsctEnInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RgtDt" type="ISODate"/>
				<xs:element name="Acct" type="Max32AlphaNumericText"/>
				<xs:element name="AcctSvcr" type="MaxMin12NumericText"/>
				<xs:element name="EnDt" type="ISODate"/>
				<xs:element name="EnRt" type="PercentageRate"/>
				<xs:element name="EnLosDt" type="ISODate"/>
				<xs:element name="EnType" type="Max60Text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--类型定义  start-->
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="MaxMin9AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[a-zA-Z0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max60Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max32AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max256Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin18AlphaNumericSymbolText">
		<xs:restriction base="xs:string">
			<xs:minLength value="18"/>
			<xs:maxLength value="18"/>
			<xs:pattern value="[a-zA-Z0-9\-]{1,18}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Signature">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin12NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="12"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="[0-9]{1,12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PercentageRate">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{1,1}\.\d{1,6})"/>
		</xs:restriction>
	</xs:simpleType>
	<!--类型定义  end-->
</xs:schema>
