schema/down/CPP.021.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MainBody" type="MainBody"/>
			<xs:element name="CdesSgntr" type="CdesSgntr"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MainBody">
		<xs:sequence>
			<xs:element name="MsgId" type="MsgId"/>
			<xs:element name="OrgnlMsgId" type="OrgnlMsgId" />
			<xs:element name="BizCtrlInf" type="BizCtrlInf"/>
			<xs:element name="QuoteInf" type="QuoteInf" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsgId">
		<xs:sequence>
			<xs:element name="Id" type="Max35NumericText"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgnlMsgId">
		<xs:sequence>
			<xs:element name="Id" type="Max35NumericText"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BizCtrlInf">
		<xs:sequence>
			<xs:element name="PrcCd" type="MaxMin9AlphaNumericText"/>
			<xs:element name="PrcMsg" type="Max256Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QuoteInf">
		<xs:sequence>
			<xs:element name="QuoteId" type="Max16AlphaNumericText"/>
			<xs:element name="BusiType" type="DCBusiType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="MaxMin9AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[a-zA-Z0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max256Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
			<xs:pattern value="[a-zA-Z0-9]{1,20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DCBusiType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RE4011"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CdesSgntr">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
