schema/down/CPP.032.001.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MainBody" type="MainBody"/>
			<xs:element name="CdesSgntr" type="PtcptSgntr"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MainBody">
		<xs:sequence>
			<xs:element name="MsgId" type="MsgId"/>
			<xs:element name="IoiReqInf" type="IoiReqInf"/>
			<xs:element name="RecInf" type="RecInf"/>
			<xs:element name="ReqFctInf" type="ReqFctInf" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ExtInfs" type="ExtInfs" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
   	<xs:complexType name="MsgId">
		<xs:sequence>
			<xs:element name="Id" type="Max35NumericText"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IoiReqInf">
		<xs:sequence>
			<xs:element name="ReqId" type="MaxMin16AlphaNumericText"/>
			<xs:element name="BusiType" type="DCBusiType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecInf">
		<xs:sequence>
			<xs:element name="RecBranch" type="Max9AlphaNumericText"/>
			<xs:element name="RecUser" type="Max10AlphaNumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RecCmd" type="MaxMin1NumericText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReqFctInf">
		<xs:sequence>
			<xs:element name="CdChannel" type="CdSource" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DrftNm" type="Max10NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SumAmt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TrdRate" type="PercentageRate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TenorDays" type="Max10NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SetDate" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SetSpeed" type="ClearSpeed" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SettleMode" type="SettleType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PayInt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SetAmt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DcTerReason" type="DcTerReason" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Note" type="Max1000Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExtInfs">
		<xs:sequence>
			<xs:element name="ExtInf" type="ExtInf"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExtInf">
		<xs:sequence>
			<xs:element name="Name" type="Max150Text"/>
			<xs:element name="Value" type="Max500Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="MaxMin16AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="16"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[a-zA-Z0-9]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DCBusiType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RE4011"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max9AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[a-zA-Z0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[a-zA-Z0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin1NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[0-9]{1,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CdSource">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CS01"/>
			<xs:enumeration value="CS02"/>
			<xs:enumeration value="CS03"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="CurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
		<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="CNY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="(\d{1,16})|(\d{1,16}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PercentageRate">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{1,1}\.\d{1,6})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ClearSpeed">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CS00"/>
			<xs:enumeration value="CS01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SettleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ST01"/>
			<xs:enumeration value="ST02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DcTerReason">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RS01"/>
			<xs:enumeration value="RS02"/>
			<xs:enumeration value="RS03"/>
			<xs:enumeration value="RS04"/>
			<xs:enumeration value="RS05"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max1000Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max150Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max500Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PtcptSgntr">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
