schema/down/CPR.008.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MainBody"/>
				<xs:element name="CdesSgntr" type="Signature"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MainBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgId"/>
				<xs:element ref="CdInf"/>
				<xs:element ref="NtInf"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CdInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CdNo" type="Max30NumericText"/>
				<xs:element name="CdAmt" type="CurrencyAndAmount"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NtInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RqDt" type="ISODate"/>
				<xs:element ref="RecTp"/>
				<xs:element name="HldrBrId" type="MaxMin9NumericText"/>
				<xs:element name="Note" type="Max150Text" minOccurs="0"/>
				<xs:element ref="PstInf"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PstInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RqDt" type="ISODate"/>
				<xs:element name="RqBrId" type="MaxMin9NumericText"/>
				<xs:element ref="Result"/>
				<xs:element ref="PstRefCode" minOccurs="0"/>
				<xs:element name="PstRefRsn" type="Max150Text" minOccurs="0"/>
				<xs:element ref="StlRst" minOccurs="0"/>
				<xs:element name="RqNote" type="Max150Text" minOccurs="0"/>
				<xs:element name="RvNote" type="Max150Text" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Max30NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max150Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin9NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="(\d{1,16})|(\d{1,16}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="CNY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="Signature">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="RecTp">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="RT01"/>
				<xs:enumeration value="RT02"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Result">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="SU00"/>
				<xs:enumeration value="SU01"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PstRefCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CP01"/>
				<xs:enumeration value="CP02"/>
				<xs:enumeration value="CP03"/>
				<xs:enumeration value="CP04"/>
				<xs:enumeration value="CP05"/>
				<xs:enumeration value="CP06"/>
				<xs:enumeration value="CP07"/>
				<xs:enumeration value="CP08"/>
				<xs:enumeration value="CP09"/>
				<xs:enumeration value="CP10"/>
				<xs:enumeration value="CP11"/>
				<xs:enumeration value="CP12"/>
				<xs:enumeration value="CP13"/>
				<xs:enumeration value="CP14"/>
				<xs:enumeration value="CP15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="StlRst">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="R20"/>
				<xs:enumeration value="R21"/>
				<xs:enumeration value="R23"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
