schema/down/CPR.021.002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MainBody"/>
				<xs:element name="CdesSgntr" type="Signature"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element  name="MainBody">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="MsgId" />
			<xs:element ref="OrgnlMsgId" />
			<xs:element ref="BizCtrlInf"/>
			<xs:element ref="CdInf"  minOccurs="0" maxOccurs="1"/>
			<xs:element ref="BsInf"  minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ExtInfs" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	</xs:element>
	<xs:element  name="MsgId">
   	<xs:complexType>
		<xs:sequence>
			<xs:element name="Id" type="Max35NumericText"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	</xs:element>
	<xs:element  name="OrgnlMsgId">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="Id" type="Max35NumericText"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	</xs:element>
	<xs:element  name="CdInf">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="CdNo" type="MaxMin30NumericText"/>
			<xs:element name="CdRange" type="Max25Text"/>
			<xs:element name="IssDt" type="ISODate"/>
			<xs:element name="DueDt" type="ISODate"/>
			<xs:element name="CdAmt" type="CurrencyAndAmount"/>
			<xs:element name="StdAmt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BnedMtmrk" type="BanEndorsementMarkCode"/><!-- 不得转让标记 -->
			<xs:element name="Note" type="Max150Text" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="DwrInf" minOccurs="0" maxOccurs="1"/><!-- 出票人信息 -->
			<xs:element ref="AcptPsnInf" minOccurs="0" maxOccurs="1"/><!-- 承兑人信息 -->
			<xs:element ref="PyeeInf"  minOccurs="0" maxOccurs="1"/><!--收款人信息 -->
		</xs:sequence>
	</xs:complexType>
	</xs:element>
	<xs:element  name="BsInf">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="RqInf" /><!-- 业务发起方信息 -->
			<xs:element ref="RvInf"/><!-- 业务接收方信息 -->
			<xs:element name="BsTp" type="BpTp" /><!-- 业务类型 -->
			<xs:element name="Dt" type="ISODate"/>
			<xs:element name="DtTm" type="ISODateTime" />
		</xs:sequence>
	</xs:complexType>
	</xs:element>
	
	<xs:element  name="DwrInf">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="AppBrId" type="MaxMin6NumericText"/>
			<xs:element ref="DrtPtcptInf" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="NoDrtPtcptInf" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	</xs:element>
	<xs:element  name="AcptPsnInf">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="AppBrId" type="MaxMin6NumericText"/>
			<xs:element ref="DrtPtcptInf" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="NoDrtPtcptInf" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	</xs:element>
	<xs:element  name="PyeeInf">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="AppBrId" type="MaxMin6NumericText"/>
			<xs:element ref="DrtPtcptInf" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="NoDrtPtcptInf" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	</xs:element>
	<xs:element  name="RqInf">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="AppBrId" type="MaxMin6NumericText"/>
			<xs:element ref="DrtPtcptInf" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="NoDrtPtcptInf" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	</xs:element>
	<xs:element  name="RvInf">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="AppBrId" type="MaxMin6NumericText"/>
			<xs:element ref="DrtPtcptInf" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="NoDrtPtcptInf" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	</xs:element>
	<xs:element name="DrtPtcptInf"><!-- 直接业务主体信息 -->
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PtcptId" type="Max32AlphaNumericSymbolText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NoDrtPtcptInf"><!-- 非直接业务主体信息 -->
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max60Text" minOccurs="0" maxOccurs="1"/>
				<xs:element name="SocCode" type="Max32AlphaNumericSymbolText" minOccurs="0" maxOccurs="1"/>
				<xs:element name="DistTp" type="DistTp"/>
				<xs:element ref="CdAcctInf" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BrAcctInf" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CdAcctInf"><!-- 票据账户信息 -->
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Acct" type="Max32AlphaNumericSymbolText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="BrAcctInf"><!-- 银行账户信息 -->
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AcctName" type="Max150Text"/>
				<xs:element name="Acct" type="Max32AlphaNumericText"/>
				<xs:element name="OpenBrId" type="MaxMin9NumericText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BizCtrlInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PrcCd" type="MaxMin9AlphaNumericText"/>
				<xs:element name="PrcMsg" type="Max256Text" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ExtInfs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ExtInf" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ExtInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max150Text" />
				<xs:element name="Value" type="Max500Text" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="BpTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BP01" />
			<xs:enumeration value="BP02" />
			<xs:enumeration value="BP03" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BanEndorsementMarkCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EM00" />
			<xs:enumeration value="EM01" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="MaxMin9AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[a-zA-Z0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin9NumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="9"/>
            <xs:maxLength value="9"/>
            <xs:pattern value="[0-9]{9}"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="Max256Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin30NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="30"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="(\d{1,10})|(\d{1,10}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="CNY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="Max25Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max150Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max500Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="500" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max60Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max32AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin12NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="12"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="[0-9]{1,12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin18AlphaNumericSymbolText">
		<xs:restriction base="xs:string">
			<xs:minLength value="18"/>
			<xs:maxLength value="18"/>
			<xs:pattern value="[a-zA-Z0-9\-]{1,18}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin6AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[a-zA-Z0-9]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Signature">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin6NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max32AlphaNumericSymbolText">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="|[a-zA-Z0-9\-]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DistTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DT01"/>
			<xs:enumeration value="DT02"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
