schema/down/CPR.013.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MainBody"/>
				<xs:element name="CdesSgntr" type="Signature"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MainBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgId"/>
				<xs:element ref="OrgnlMsgId"/>
				<xs:element ref="BizCtrlInf"/>
				<xs:element ref="ComrclDrft" minOccurs="0"/>
				<xs:element ref="DwrInf" minOccurs="0"/>
				<xs:element ref="AcptPsnInf" minOccurs="0"/>
				<xs:element ref="PyeeInf" minOccurs="0"/>
				<xs:element ref="RlvBnkInf" minOccurs="0"/>
				<xs:element ref="DsctBnkInf" minOccurs="0"/>
				<xs:element ref="HldrBnkInf" minOccurs="0"/>
				<xs:element ref="IntrBnkInf" minOccurs="0"/>
				<xs:element ref="StuInf" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CdesSgntr" type="xs:string"/>
	<xs:element name="MsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrgnlMsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BizCtrlInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PrcCd" type="MaxMin9AlphaNumericText"/>
				<xs:element name="PrcMsg" type="Max256Text" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComrclDrft">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CdType"/>
				<xs:element name="CdNo" type="Max30NumericText"/>
				<xs:element name="CdAmt" type="CurrencyAndAmount"/>
				<xs:element name="IssDt" type="ISODate"/>
				<xs:element name="DueDt" type="ISODate"/>
				<xs:element name="Note" type="Max150Text" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DwrInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max60Text"/>
				<xs:element name="Acct" type="Max32AlphaNumericText"/>
				<xs:element name="AcctSvcr" type="MaxMin12NumericText" minOccurs="0"/>
				<xs:element name="SocCode" type="MaxMin18AlphaNumericSymbolText"/>
				<xs:element ref="IndCls" minOccurs="0"/>
				<xs:element ref="CorpScale" minOccurs="0"/>
				<xs:element name="DrAcg" type="YON" minOccurs="0"/>
				<xs:element ref="Area" minOccurs="0"/>
				<xs:element name="IsGr" type="YON" minOccurs="0"/>
				<xs:element name="Note" type="Max150Text" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--mod by kfzx-wangqf 20181203 1903版本 承兑人开户行号、收款人开户银行名称、解付行名称从[1..1]改为[0..1]-->
	<xs:element name="AcptPsnInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max60Text"/>
				<xs:element name="Acct" type="Max32AlphaNumericText"/>
				<xs:element name="AcctSvcr" type="MaxMin12NumericText" minOccurs="0"/>
				<xs:element name="SocCode" type="MaxMin18AlphaNumericSymbolText" minOccurs="0"/>
				<xs:element name="Note" type="Max150Text" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PyeeInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max60Text"/>
				<xs:element name="Acct" type="Max32AlphaNumericText"/>
				<xs:element name="AcctSvcr" type="MaxMin12NumericText" minOccurs="0"/>
				<xs:element name="SocCode" type="MaxMin18AlphaNumericSymbolText" minOccurs="0"/>
				<xs:element name="AcctBkName" type="Max60Text" minOccurs="0"/>
				<xs:element name="Note" type="Max150Text" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RlvBnkInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AcctSvcr" type="MaxMin12NumericText" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DsctBnkInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DsctBrId" type="MaxMin9NumericText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HldrBnkInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HldrBrId" type="MaxMin9NumericText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IntrBnkInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IntrBrId" type="MaxMin9NumericText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StuInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CdStatus" type="MaxMin4AlphaNumericText"/>
				<xs:element name="CdStage" type="MaxMin6AlphaNumericText"/>
				<xs:element ref="RiskStatus"/>
				<xs:element name="IntStatus" type="MaxMin4AlphaNumericText" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="MaxMin9AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[a-zA-Z0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin4AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[a-zA-Z0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin6AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[a-zA-Z0-9]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin18AlphaNumericSymbolText">
		<xs:restriction base="xs:string">
			<xs:minLength value="18"/>
			<xs:maxLength value="18"/>
			<xs:pattern value="[a-zA-Z0-9\-]{1,18}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max32AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max256Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max150Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max30NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin12NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="12"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="[0-9]{1,12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max60Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin9NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="CdType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="AC01"/>
				<xs:enumeration value="AC02"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IndCls">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="A0000"/>
				<xs:enumeration value="B0000"/>
				<xs:enumeration value="C0000"/>
				<xs:enumeration value="D0000"/>
				<xs:enumeration value="E0000"/>
				<xs:enumeration value="F0000"/>
				<xs:enumeration value="G0000"/>
				<xs:enumeration value="H0000"/>
				<xs:enumeration value="I0000"/>
				<xs:enumeration value="J0000"/>
				<xs:enumeration value="K0000"/>
				<xs:enumeration value="L0000"/>
				<xs:enumeration value="M0000"/>
				<xs:enumeration value="N0000"/>
				<xs:enumeration value="O0000"/>
				<xs:enumeration value="P0000"/>
				<xs:enumeration value="Q0000"/>
				<xs:enumeration value="R0000"/>
				<xs:enumeration value="S0000"/>
				<xs:enumeration value="T0000"/>
				<xs:enumeration value="U0000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CorpScale">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="SC00"/>
				<xs:enumeration value="SC01"/>
				<xs:enumeration value="SC02"/>
				<xs:enumeration value="SC03"/>
				<xs:enumeration value="SC04"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Area">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="11"/>
				<xs:enumeration value="12"/>
				<xs:enumeration value="13"/>
				<xs:enumeration value="14"/>
				<xs:enumeration value="15"/>
				<xs:enumeration value="21"/>
				<xs:enumeration value="22"/>
				<xs:enumeration value="23"/>
				<xs:enumeration value="31"/>
				<xs:enumeration value="32"/>
				<xs:enumeration value="33"/>
				<xs:enumeration value="34"/>
				<xs:enumeration value="35"/>
				<xs:enumeration value="36"/>
				<xs:enumeration value="37"/>
				<xs:enumeration value="41"/>
				<xs:enumeration value="42"/>
				<xs:enumeration value="43"/>
				<xs:enumeration value="44"/>
				<xs:enumeration value="45"/>
				<xs:enumeration value="46"/>
				<xs:enumeration value="50"/>
				<xs:enumeration value="51"/>
				<xs:enumeration value="52"/>
				<xs:enumeration value="53"/>
				<xs:enumeration value="54"/>
				<xs:enumeration value="61"/>
				<xs:enumeration value="62"/>
				<xs:enumeration value="63"/>
				<xs:enumeration value="64"/>
				<xs:enumeration value="65"/>
				<xs:enumeration value="71"/>
				<xs:enumeration value="81"/>
				<xs:enumeration value="82"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="YON">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="RiskStatus">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="RS00"/>
				<xs:enumeration value="RS01"/>
				<xs:enumeration value="RS02"/>
				<xs:enumeration value="RS03"/>
				<xs:enumeration value="RS05"/>
				<xs:enumeration value="RS06"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="CurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="(\d{1,16})|(\d{1,16}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="CNY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Signature">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
