schema/down/NCP.017.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MainBody"/>
				<xs:element name="CdesSgntr" type="Signature"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MainBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgId"/>
				<xs:element ref="CdInf"/>
				<xs:element ref="CfmInf" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CdInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CdNo" type="Max30NumericText"/>
				<xs:element name="CdAmt" type="CurrencyAndAmount"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CfmInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CfmAppDt" type="ISODate"/>
				<xs:element name="CfmAppBrId" type="MaxMin9NumericText"/>
				<xs:element ref="CfmTp"/>
				<xs:element name="SgnUpMk" type="SignUpMarkCode"/>
				<xs:element ref="CfmRefCode" minOccurs="0"/>
				<xs:element name="CfmRpDt" type="ISODate"/>
				<xs:element name="RqNote" type="Max150Text" minOccurs="0"/>
				<xs:element name="RvNote" type="Max150Text" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CfmTp">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="VM01"/>
				<xs:enumeration value="VM02"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CfmRefCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="RR02"/>
				<xs:enumeration value="RR03"/>
				<xs:enumeration value="RR05"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="Signature">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="Max30NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="(\d{1,16})|(\d{1,16}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="CNY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="MaxMin9NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[0-9]{1,12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max150Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
		<xs:simpleType name="SignUpMarkCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SU00"/>
			<xs:enumeration value="SU01"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
