schema/down/PAM.004.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Document">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MainBody"/>
                <xs:element name="CdesSgntr" type="Signature"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="MainBody">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MsgId"/><!-- 报文标识 -->
                <xs:element ref="CorpAttr"/><!-- 客户信息 -->
                <xs:element ref="AcmtAcctInf"/><!-- 主动管理账户信息 -->
                <xs:element ref="ExtInfs" minOccurs="0" maxOccurs="1"/><!-- 扩展属性信息 -->
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- 报文标识 -->
    <xs:element name="MsgId">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Id" type="Max35NumericText"/>
                <xs:element name="CreDtTm" type="ISODateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- 客户信息 -->
    <xs:element name="CorpAttr">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Name" type="Max150Text"/>
                <xs:element name="SocCode" type="MaxMin18AlphaNumericSymbolText"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- 主动管理账户信息 -->
    <xs:element name="AcmtAcctInf">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="AcctInf" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- 账户信息 -->
    <xs:element name="AcctInf">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AcmtAcctTp" type="Max5NumericText"/>
                <xs:element name="AcctNm" type="Max150Text" minOccurs="0" maxOccurs="1"/>
                <xs:element name="Acct" type="Max32AlphaNumericText" />
                <xs:element name="OpenBrId" type="MaxMin9NumericText"  minOccurs="0" maxOccurs="1"/>
                <xs:element name="DistTp" type="DistTp"/>
                <xs:element name="AcctGrantInfs" type="AcctGrantInf" minOccurs="0" maxOccurs="1"/>
                <xs:element name="AcctSts" type="Max5NumericText"/>
                <xs:element name="PrpserDate" type="ISODate"/>
                <xs:element name="PrpserUser" type="Max60Text"/>
                <xs:element name="PrpserBrId" type="MaxMin9NumericText"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- 扩展属性信息 -->
    <xs:element name="ExtInfs">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ExtInf" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- 扩展属性 -->
    <xs:element name="ExtInf">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Name" type="Max150Text"/>
                <xs:element name="Value" type="Max500Text"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="Max60Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max150Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="150"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Max35NumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
            <xs:pattern value="[0-9]{1,35}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MaxMin9NumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="9"/>
            <xs:maxLength value="9"/>
            <xs:pattern value="[0-9]{1,9}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Max32AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="32"/>
            <xs:pattern value="[a-zA-Z0-9]{1,32}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MaxMin18AlphaNumericSymbolText">
        <xs:restriction base="xs:string">
            <xs:minLength value="18"/>
            <xs:maxLength value="18"/>
            <xs:pattern value="[a-zA-Z0-9\-]{1,18}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>

    <xs:simpleType name="DistTp">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DT01"/>
            <xs:enumeration value="DT02"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AcctGrantInf">
        <xs:restriction base="xs:string">
            <xs:pattern value="([CG0-9\|])*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>

    <xs:simpleType name="Signature">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
