schema/down/shcpe.355.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommercialDraft355"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommercialDraft355">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgId"/>
				<xs:element ref="SettleInfo"/>
				<xs:element ref="ComrclDrft" maxOccurs="2000"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SettleInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestType" type="rqTp"/>
				<xs:element name="Dt" type="ISODate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComrclDrft">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IdNb" type="MaxMin30NumericText"/>
				<xs:element ref="RqInfo" />
				<xs:element ref="RvInfo" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RqInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Acct"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RvInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Acct"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Acct">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AcctSvcr" type="MaxMin12NumericText"/>
				<xs:element name="Id" type="Max32AlphaNumericText"/>
				<xs:element name="Nm" type="Max60Text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="rqTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RT01"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="MaxMin30NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="30"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin12NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="12"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="[0-9]{1,12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max32AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max60Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	
	
</xs:schema>
