schema/down/shcpe.371.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommercialDraft371"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommercialDraft371">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgId"/>
				<xs:element ref="SummryDt"/>
				<xs:element ref="Ptcpt" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SummryDt">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Dt" type="ISODate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Ptcpt">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ReqMsgType" type="ReqMsgTypeCode"/>
				<xs:element name="IdNb" type="MaxMin30NumericText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin30NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="30"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReqMsgTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="shcpe.301.001"/>
			<xs:enumeration value="shcpe.302.001"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
</xs:schema>
