schema/up/CBS.024.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MainBody"/>
				<xs:element name="PtcptSgntr" type="Signature"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="MainBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgId"/>
				<xs:element ref="CdInf"/>
				<xs:element ref="PstInf"/>
				<xs:element ref="PstRqInf"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="MsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35AlphaNumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="CdInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BpNo" type="MaxMin30NumericText"/>
				<xs:element name="CdRange" type="MaxMin25Text"/>
				<xs:element name="CdAmt" type="CurrencyAndAmount"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="PstInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RqDt" type="ISODate" />
				<xs:element name="CdAmt" type="CurrencyAndAmount"/>
				<xs:element name="ClrRemark" type="SettlementMarkCode"/>
				<xs:element name="Note" type="Max1000Text" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="PstRqInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RqOrgCode" type="MaxMin6AlphaNumericText" />
				<xs:element name="RqEnterNo" type="MaxMin9AlphaNumericText"/>
				<xs:element name="RqSoccode" type="MaxMin18AlphaNumericSymbolText"/>
				<xs:element name="RqName" type="Max60Text"/>
				<xs:element name="RqAcct" type="Max32AlphaNumericText"/>
				<xs:element name="RqBnkCode" type="MaxMin12NumericText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<xs:simpleType name="Max35AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[a-zA-Z0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="MaxMin30NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="30" />
			<xs:maxLength value="30" />
			<xs:pattern value="[0-9]{30}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin25Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="25"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CNY" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="(\d{1,16})|(\d{1,16}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="SettlementMarkCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CR01"/>
			<xs:enumeration value="CR02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max1000Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	
	
	<xs:simpleType name="MaxMin6AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[a-zA-Z0-9]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:simpleType name="MaxMin9AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[a-zA-Z0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin18AlphaNumericSymbolText">
		<xs:restriction base="xs:string">
			<xs:minLength value="18"/>
			<xs:maxLength value="18"/>
			<xs:pattern value="[a-zA-Z0-9\-]{1,18}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max60Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max32AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin12NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="12"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="[0-9]{1,12}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Signature">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>