schema/up/CBS.025.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MainBody"/>
				<xs:element name="PtcptSgntr" type="Signature"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="MainBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgId"/>
				<xs:element name="SupId" type="MaxMin6AlphaNumericText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	
	<xs:element name="MsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35AlphaNumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="RgtBrInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BrId" type="MaxMin9NumericText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	

	<xs:element name="DiscInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max60Text" />
				<xs:element name="SocCode" type="MaxMin18AlphaNumericText" />
				<xs:element name="CorpScale" type="CorpScale" />
				<xs:element name="IndCls" type="Industry" />
				<xs:element name="ArcFlag" type="YON" />
				<xs:element name="GrnFlag" type="YON" />
				<xs:element name="SciFlag" type="YON" />
				<xs:element name="PopFlag" type="YON" />
				<xs:element name="PrCd" type="Province" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttInfCol">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AttInf"  maxOccurs="unbounded"/>
				</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="AttInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AttType" type="AttTypeCode" />
				<xs:element name="AttBtNo" type="MaxMin32AlphaNumericText" />
				<xs:element name="TypMrkCode" type="TypMrkCode" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="MaxMin6AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[a-zA-Z0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max35AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[a-zA-Z0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin18AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="18"/>
			<xs:maxLength value="18"/>
			<xs:pattern value="[a-zA-Z0-9]{18}"/>
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="CorpScale">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SC00"/>
			<xs:enumeration value="SC01"/>
			<xs:enumeration value="SC02"/>
			<xs:enumeration value="SC03"/>
			<xs:enumeration value="SC04"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AttTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FT01"/>
			<xs:enumeration value="FT02"/>
			<xs:enumeration value="FT03"/>
			<xs:enumeration value="FT04"/>
			<xs:enumeration value="FT05"/>
			<xs:enumeration value="FT06"/>
			<xs:enumeration value="FT07"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin6NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>		
	<xs:simpleType name="MaxMin32AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="32"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9\-]{32}"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:simpleType name="Industry">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A0000"/>
			<xs:enumeration value="B0000"/>
			<xs:enumeration value="C0000"/>
			<xs:enumeration value="D0000"/>
			<xs:enumeration value="E0000"/>
			<xs:enumeration value="F0000"/>
			<xs:enumeration value="G0000"/>
			<xs:enumeration value="H0000"/>
			<xs:enumeration value="I0000"/>
			<xs:enumeration value="J0000"/>
			<xs:enumeration value="K0000"/>
			<xs:enumeration value="L0000"/>
			<xs:enumeration value="M0000"/>
			<xs:enumeration value="N0000"/>
			<xs:enumeration value="O0000"/>
			<xs:enumeration value="P0000"/>
			<xs:enumeration value="Q0000"/>
			<xs:enumeration value="R0000"/>
			<xs:enumeration value="S0000"/>
			<xs:enumeration value="T0000"/>
			<xs:enumeration value="U0000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AltrnTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AT01"/>
			<xs:enumeration value="AT02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YON">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
    <xs:simpleType name="TypMrkCode">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MaxMin9NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>	
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
    <xs:simpleType name="Max60Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
			<!-- <xs:pattern value="[A-Za-z0-9\[\]\{\}\|\(\)\@\#\%\&\*\!\?\/\\\\-\+]"/> -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Signature">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Province">
		<xs:restriction base="xs:string">
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="50"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="34"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="36"/>
			<xs:enumeration value="37"/>
			<xs:enumeration value="41"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="43"/>
			<xs:enumeration value="44"/>
			<xs:enumeration value="45"/>
			<xs:enumeration value="46"/>
			<xs:enumeration value="51"/>
			<xs:enumeration value="52"/>
			<xs:enumeration value="53"/>
			<xs:enumeration value="61"/>
			<xs:enumeration value="62"/>
			<xs:enumeration value="63"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="54"/>
			<xs:enumeration value="64"/>
			<xs:enumeration value="65"/>
			<xs:enumeration value="81"/>
			<xs:enumeration value="82"/>
			<xs:enumeration value="71"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
