schema/up/CCM.008.002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Sndr">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MbrId" type="MaxMin6NumericText" />
                <xs:element name="BrId" type="Max9NumericText"  minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Rcvr">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MbrId" type="MaxMin6NumericText" />
                <xs:element name="RvBrId" type="Max9NumericText" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MsgId">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Id" type="Max35NumericText" />
                <xs:element name="CreDtTm" type="ISODateTime" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MsgCnts">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Cnts" type="Max1000Text" />
                <xs:element name="Att" type="AttFile" minOccurs="0" />
                <xs:element name="FileSuffix" type="Max4AlphaNumericText" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MainBody">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MsgId" />
                <xs:element ref="Sndr" />
                <xs:element ref="Rcvr" />
                <xs:element ref="MsgCnts" />
                <xs:element ref="ExtInfs" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ExtInfs">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ExtInf" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ExtInf" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Name" type="Max150Text"/>
                <xs:element name="Value" type="Max500Text"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Max150Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="150"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35NumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="35" />
            <xs:pattern value="[0-9]{1,35}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MaxMin6NumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="6" />
            <xs:maxLength value="6" />
            <xs:pattern value="[0-9]{1,6}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="4" />
            <xs:pattern value="[a-zA-Z0-9]{1,4}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max9NumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="9" />
            <xs:pattern value="[0-9]{1,9}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Document">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MainBody" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="Max1000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="1000" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime" />
    </xs:simpleType>
    <xs:simpleType name="AttFile">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2000000"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
