schema/up/CES.035.002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MainBody" type="MainBody"/>
			<xs:element name="PtcptSgntr" type="PtcptSgntr"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MainBody">
		<xs:sequence>
			<xs:element name="MsgId" type="MsgId"/>
			<xs:element name="OrgnlMsgId" type="OrgnlMsgId" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DealInf" type="DealInf"/>
			<xs:element name="SlfInf" type="SlfInf"/>
			<xs:element name="BillInf" type="BillInf"/>
			<xs:element name="Blist" type="Blist"/>
			<xs:element name="ExtInfs" type="ExtInfs" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsgId">
		<xs:sequence>
			<xs:element name="Id" type="Max35NumericText"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgnlMsgId">
		<xs:sequence>
			<xs:element name="Id" type="Max35NumericText"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DealInf">
		<xs:sequence>
			<xs:element name="DealId" type="Max20AlphaNumericText"/>
			<xs:element name="BusiType" type="BusiType"/>
			<xs:element name="TrdDir" type="CrDirection"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SlfInf">
		<xs:sequence>
			<xs:element name="ReqBranch" type="MaxMin9NumericText"/>
			<xs:element name="ProductId" type="MaxMin9NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ReqUser" type="Max10AlphaNumericText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BillInf">
		<xs:sequence>
			<xs:element name="CdType" type="DraftTypeCode"/>
			<xs:element name="CdMedia" type="CDMedia"/>
			<xs:element name="CreditType" type="CreditType"/>
			<xs:element name="SumAmt" type="CurrencyAndAmount"/>
			<xs:element name="DrftNm" type="Max10NumericText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Blist">
		<xs:sequence>
			<xs:element name="Bill" type="Bill" minOccurs="1" maxOccurs="500"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExtInfs">
		<xs:sequence>
			<xs:element name="ExtInf" type="ExtInf" minOccurs="1" maxOccurs="500"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Bill">
		<xs:sequence>
			<xs:element name="CdNo" type="Max30NumericText"/>
			<xs:element name="CdRange" type="Max25Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CdAmt" type="CurrencyAndAmount"/>
			<xs:element name="StdAmt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DueDt" type="ISODate"/>
			<xs:element name="MatDt" type="ISODate"/>
			<xs:element name="PayInt" type="CurrencyAndAmount"/>
			<xs:element name="SetAmt" type="CurrencyAndAmount"/>
			<xs:element name="SetAmt2" type="CurrencyAndAmount"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExtInf">
		<xs:sequence>
			<xs:element name="Name" type="Max150Text"/>
			<xs:element name="Value" type="Max500Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="Max20AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
			<xs:pattern value="[a-zA-Z0-9]{1,20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BusiType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BT02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CrDirection">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRD02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin9NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[a-zA-Z0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DraftTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AC01"/>
			<xs:enumeration value="AC02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDMedia">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ME01"/>
			<xs:enumeration value="ME02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="201"/>
			<xs:enumeration value="202"/>
			<xs:enumeration value="203"/>
			<xs:enumeration value="204"/>
			<xs:enumeration value="205"/>
			<xs:enumeration value="206"/>
			<xs:enumeration value="207"/>
			<xs:enumeration value="208"/>
			<xs:enumeration value="301"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="(\d{1,16})|(\d{1,16}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CurrencyAndAmount2">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleType2">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CurrencyAndAmount_SimpleType2">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="([\-]{0,1}\d{1,16})|(\d{1,16}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="CNY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max30NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="PtcptSgntr">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max25Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max150Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max500Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>