schema/up/CES.022.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MainBody" type="MainBody"/>
			<xs:element name="PtcptSgntr" type="PtcptSgntr"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MainBody">
		<xs:sequence>
			<xs:element name="MsgId" type="MsgId"/>
			<xs:element name="ApplyAppInf" type="ApplyAppInf"/>
			<xs:element name="RqBrInf" type="RqBrInf"/>
			<xs:element name="CpBrInf" type="CpBrInf"/>
			<xs:element name="RqInf" type="RqInf"/>
			<xs:element name="Blist" type="Blist"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsgId">
		<xs:sequence>
			<xs:element name="Id" type="Max35NumericText"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ApplyAppInf">
		<xs:sequence>
			<xs:element name="ApplyId" type="MaxMin17AlphaNumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ActType" type="QuoteOp"/>
			<xs:element name="ApplyRelId" type="Max10NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BusiType" type="BusiType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RqBrInf">
		<xs:sequence>
			<xs:element name="RqBrId" type="MaxMin9NumericText"/>
			<xs:element name="UsrId" type="Max10AlphaNumericText"/>
			<xs:element name="ComfirmUsrId" type="Max10AlphaNumericText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CpBrInf">
		<xs:sequence>
			<xs:element name="CpBrId" type="MaxMin9NumericText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RqInf">
		<xs:sequence>
			<xs:element name="CdType" type="DraftTypeCode"/>
			<xs:element name="CdMedia" type="CDMedia"/>
			<xs:element name="DrftNm" type="Max10NumericText"/>
			<xs:element name="SumAmt" type="CurrencyAndAmount"/>
			<xs:element name="TenorDays" type="Max10NumericText"/>
			<xs:element name="SetSpeed" type="ClearSpeed"/>
			<xs:element name="ClrTp" type="ClearType"/>
			<xs:element name="SetMode" type="SettleType"/>
			<xs:element name="SetAmt" type="CurrencyAndAmount"/>
			<xs:element name="SetDate" type="ISODate"/>
			<xs:element name="TrdRate" type="PercentageRate"/>
			<xs:element name="PayInt" type="CurrencyAndAmount"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Blist">
		<xs:sequence>
			<xs:element name="Bill" type="Bill" minOccurs="1" maxOccurs="200"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Bill">
		<xs:sequence>
			<xs:element name="CdNo" type="Max30NumericText"/>
			<xs:element name="CdAmt" type="CurrencyAndAmount"/>
			<xs:element name="DueDt" type="ISODate"/>
			<xs:element name="MatDt" type="ISODate"/>
			<xs:element name="IsDiscount" type="YON"/>
			<xs:element name="IsAllopatric" type="YON"/>
			<xs:element name="IsMeetPolicy" type="YON"/>
			<xs:element name="ImgInfs" type="ImgInfs" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImgInfs">
		<xs:sequence>
			<xs:element name="ImgInf" type="ImgInf" minOccurs="1" maxOccurs="100"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImgInf">
		<xs:sequence>
			<xs:element name="ImgType" type="ImgType"/>
			<xs:element name="ImgBtNo" type="MaxMin32AlphaNumericText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="MaxMin17AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="17"/>
			<xs:maxLength value="17"/>
			<xs:pattern value="[a-zA-Z0-9]{1,17}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin32AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="32"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="QuoteOp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BusiType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RBT01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin9NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[a-zA-Z0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DraftTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AC01"/>
			<xs:enumeration value="AC02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDMedia">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ME01"/>
			<xs:enumeration value="ME02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="(\d{1,16})|(\d{1,16}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="CNY"/>
		</xs:restriction>
	</xs:simpleType>
		<xs:simpleType name="ClearSpeed">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CS00"/>
			<xs:enumeration value="CS01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClearType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CT01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SettleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ST02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PercentageRate">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{1,1}\.\d{1,6})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PtcptSgntr">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max30NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YON">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ImgType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="IM12"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
