schema/up/CES.033.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MainBody" type="MainBody"/>
			<xs:element name="PtcptSgntr" type="PtcptSgntr"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MainBody">
		<xs:sequence>
			<xs:element name="MsgId" type="MsgId"/>
			<xs:element name="QuoteInf" type="QuoteInf"/>
			<xs:element name="SlfInf" type="SlfInf"/>
			<xs:element name="QuoteFctInf" type="QuoteFctInf"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsgId">
		<xs:sequence>
			<xs:element name="Id" type="Max35NumericText"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QuoteInf">
		<xs:sequence>
			<xs:element name="BusiType" type="BusiType"/>
			<xs:element name="TrdDir" type="CrDirection"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SlfInf">
		<xs:sequence>
			<xs:element name="ReqBranch" type="MaxMin9NumericText"/>
			<xs:element name="ProductId" type="MaxMin9NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ReqUser" type="Max10AlphaNumericText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QuoteFctInf">
		<xs:sequence>
			<xs:element name="CdType" type="DraftTypeCode"/>
			<xs:element name="CdMedia" type="CDMedia"/>
			<xs:element name="TrdRate" type="PercentageRate"/>
			<xs:element name="BuyAmt" type="CurrencyAndAmount"/>
			<xs:element name="TenorDays" type="Max10NumericText"/>
			<xs:element name="TenorCode" type="TenorCode"/>
			<xs:element name="SetDate" type="ISODate"/>
			<xs:element name="SetDate2" type="ISODate"/>
			<xs:element name="SetSpeed" type="ClearSpeed"/>
			<xs:element name="SetMode" type="SettleType"/>
			<xs:element name="ClrTp" type="ClearType"/>
			<xs:element name="CreditType" type="CreditType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="BusiType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BT02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CrDirection">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRD01"/>
			<xs:enumeration value="CRD02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin9NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[a-zA-Z0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DraftTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AC01"/>
			<xs:enumeration value="AC02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDMedia">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ME01"/>
			<xs:enumeration value="ME02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PercentageRate">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{1,1}\.\d{1,6})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="(\d{1,16})|(\d{1,16}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="CNY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TenorCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TM001"/>
			<xs:enumeration value="TM007"/>
			<xs:enumeration value="TM014"/>
			<xs:enumeration value="TM030"/>
			<xs:enumeration value="TM090"/>
			<xs:enumeration value="TM180"/>
			<xs:enumeration value="TM270"/>
			<xs:enumeration value="TM360"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ClearSpeed">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CS00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SettleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ST01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClearType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CT01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="201"/>
			<xs:enumeration value="202"/>
			<xs:enumeration value="203"/>
			<xs:enumeration value="204"/>
			<xs:enumeration value="205"/>
			<xs:enumeration value="206"/>
			<xs:enumeration value="207"/>
			<xs:enumeration value="208"/>
			<xs:enumeration value="301"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PtcptSgntr">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>