schema/up/CES.025.002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MainBody"/>
				<xs:element name="PtcptSgntr" type="Signature" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="MainBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgId"/>
				<xs:element ref="ApplyAppInf"/>
				<xs:element ref="RqBrInf"/>
				<xs:element ref="ExtInfs"  minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 报文标识 -->
	<xs:element name="MsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/> <!-- 报文标识号 -->
				<xs:element name="CreDtTm" type="ISODateTime"/> <!-- 报文时间 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 申请单信息 -->
	<xs:element name="ApplyAppInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ApplyId" type="MaxMin17AlphaNumericText"/> <!-- 申请单编号 -->
				<xs:element name="ApplyRelId" type="Max10NumericText"/> <!-- 申请单修改关联号 -->
				<xs:element name="BusiType" type="BusiType"/> <!-- 业务类型 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 申请机构参与者信息 -->
	<xs:element name="RqBrInf">
   <xs:complexType>
			<xs:sequence>
				<xs:element name="RqBrId" type="MaxMin9NumericText"/> <!-- 申请方机构参与者代码 -->
				<xs:element name="RqUsrId" type="Max10AlphaNumericText"/> <!-- 申请用户ID -->
				<xs:element name="Note" type="Max300Text" minOccurs="0" maxOccurs="1"/> <!-- 申请说明 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 扩展信息 -->
	<xs:element name="ExtInfs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ExtInf" minOccurs="1" maxOccurs="unbounded"/><!-- 扩展属性 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 扩展属性 -->
	<xs:element name="ExtInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max150Text"/> <!-- 属性名 -->
				<xs:element name="Value" type="Max500Text"/> <!-- 属性值 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name="Signature">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="MaxMin17AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="17"/>
			<xs:maxLength value="17"/>
			<xs:pattern value="[a-zA-Z0-9]{1,17}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BusiType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RBT01"/>
			<xs:enumeration value="RBT02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin9NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[a-zA-Z0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max300Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="300"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max150Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max500Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>