schema/up/CES.025.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MainBody" type="MainBody"/>
			<xs:element name="PtcptSgntr" type="PtcptSgntr"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MainBody">
		<xs:sequence>
			<xs:element name="MsgId" type="MsgId"/>
			<xs:element name="ApplyAppInf" type="ApplyAppInf"/>
			<xs:element name="RqBrInf" type="RqBrInf"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsgId">
		<xs:sequence>
			<xs:element name="Id" type="Max35NumericText"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ApplyAppInf">
		<xs:sequence>
			<xs:element name="ApplyId" type="MaxMin17AlphaNumericText"/>
			<xs:element name="ApplyRelId" type="Max10NumericText"/>
			<xs:element name="BusiType" type="BusiType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RqBrInf">
		<xs:sequence>
			<xs:element name="RqBrId" type="MaxMin9NumericText"/>
			<xs:element name="RqUsrId" type="Max10AlphaNumericText"/>
			<xs:element name="Note" type="Max300Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="MaxMin17AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="17"/>
			<xs:maxLength value="17"/>
			<xs:pattern value="[a-zA-Z0-9]{1,17}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BusiType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RBT01"/>
			<xs:enumeration value="RBT02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin9NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[a-zA-Z0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max300Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="300"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PtcptSgntr">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
