schema/up/CES.022.002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MainBody"/>
				<xs:element name="PtcptSgntr" type="Signature" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="MainBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgId"/>
				<xs:element ref="ApplyAppInf"/>
				<xs:element ref="RqBrInf"/>
				<xs:element ref="CpBrInf"/>
				<xs:element ref="RqInf"/>
				<xs:element ref="Blist"/>
				<xs:element ref="ExtInfs"  minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 报文标识 -->
	<xs:element name="MsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/> <!-- 报文标识号 -->
				<xs:element name="CreDtTm" type="ISODateTime"/> <!-- 报文时间 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 申请单信息 -->
	<xs:element name="ApplyAppInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ApplyId" type="MaxMin17AlphaNumericText" minOccurs="0" maxOccurs="1"/> <!-- 申请单编号 -->
				<xs:element name="ActType" type="QuoteOp"/> <!-- 申请单操作标识 -->
				<xs:element name="ApplyRelId" type="Max10NumericText" minOccurs="0" maxOccurs="1"/> <!-- 申请单修改关联号 -->
				<xs:element name="BusiType" type="BusiType"/> <!-- 业务类型 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 申请机构参与者信息 -->
	<xs:element name="RqBrInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RqBrId" type="MaxMin9NumericText"/> <!-- 申请机构参与者代码 -->
				<xs:element name="UsrId" type="Max10AlphaNumericText"/> <!-- 申请机构参与者申请发起人用户ID -->
				<xs:element name="ComfirmUsrId" type="Max10AlphaNumericText"/> <!-- 申请机构参与者确认人用户ID -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 人行信息 -->
	<xs:element name="CpBrInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CpBrId" type="MaxMin9NumericText"/> <!-- 人行机构参与者代码 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 申请信息 -->
	<xs:element name="RqInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CdType" type="DraftTypeCode"/> <!-- 票据种类 -->
				<xs:element name="CdMedia" type="CDMedia"/> <!-- 票据介质 -->
				<xs:element name="DrftNm" type="Max10NumericText"/> <!-- 票据（包）张数 -->
				<xs:element name="SumAmt" type="CurrencyAndAmount"/> <!-- 票据（包）总额 -->
				<xs:element name="TenorDays" type="Max10NumericText"/> <!-- 加权平均剩余期限 -->
				<xs:element name="SetSpeed" type="ClearSpeed"/> <!-- 清算速度 -->
				<xs:element name="ClrTp" type="ClearType"/> <!-- 清算类型 -->
				<xs:element name="SetMode" type="SettleType"/> <!-- 结算方式 -->
				<xs:element name="SetAmt" type="CurrencyAndAmount"/> <!-- 结算金额 -->
				<xs:element name="SetDate" type="ISODate"/> <!-- 结算日 -->
				<xs:element name="TrdRate" type="PercentageRate"/> <!-- 再贴现利率 -->
				<xs:element name="PayInt" type="CurrencyAndAmount"/> <!-- 应付利息 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 票据清单 -->
	<xs:element name="Blist">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Bill" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 票据 -->
	<xs:element name="Bill">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CdNo" type="Max30NumericText"/> <!-- 票据（包）号 -->
				<xs:element name="CdRange" type="Max25Text" minOccurs="0" maxOccurs="1"/> <!-- 子票区间 -->
				<xs:element name="CdAmt" type="CurrencyAndAmount"/> <!-- 票据（包）金额 -->
				<xs:element name="StdAmt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/> <!-- 标准金额 -->
				<xs:element name="DueDt" type="ISODate"/> <!-- 票据到期日 -->
				<xs:element name="MatDt" type="ISODate"/> <!-- 票据实际到期日 -->
				<xs:element name="IsDiscount" type="YON"/> <!-- 是否转贴现票据 -->
				<xs:element name="IsAllopatric" type="YON"/> <!-- 是否异地票据 -->
				<xs:element name="IsMeetPolicy" type="YON"/> <!-- 是否符合政策标准 -->
				<xs:element ref="ImgInfs" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 影像信息集合 -->
	<xs:element name="ImgInfs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ImgInf" minOccurs="1" maxOccurs="100"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 影像信息 -->
	<xs:element name="ImgInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ImgType" type="ImgType"/> <!-- 影像类型 -->
				<xs:element name="ImgBtNo" type="MaxMin32AlphaNumericText"/> <!-- 影像批次号 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 扩展信息 -->
	<xs:element name="ExtInfs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ExtInf" minOccurs="1" maxOccurs="unbounded"/><!-- 扩展属性 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 扩展属性 -->
	<xs:element name="ExtInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max150Text"/> <!-- 属性名 -->
				<xs:element name="Value" type="Max500Text"/> <!-- 属性值 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="Signature">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="MaxMin17AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="17"/>
			<xs:maxLength value="17"/>
			<xs:pattern value="[a-zA-Z0-9]{1,17}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin32AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="32"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="QuoteOp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BusiType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RBT01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin9NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[a-zA-Z0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DraftTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AC01"/>
			<xs:enumeration value="AC02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDMedia">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ME01"/>
			<xs:enumeration value="ME02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="(\d{1,16})|(\d{1,16}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="CNY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClearSpeed">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CS00"/>
			<xs:enumeration value="CS01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClearType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CT01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SettleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ST02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PercentageRate">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{1,1}\.\d{1,6})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max30NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YON">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ImgType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="IM12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max150Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max500Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max25Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>