schema/up/CES.028.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MainBody" type="MainBody"/>
			<xs:element name="PtcptSgntr" type="PtcptSgntr"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MainBody">
		<xs:sequence>
			<xs:element name="MsgId" type="MsgId"/>
			<xs:element name="QuoteInf" type="QuoteInf"/>
			<xs:element name="SlfInf" type="SlfInf"/>
			<xs:element name="QuoteFctInf" type="QuoteFctInf"/>
			<xs:element name="Blist" type="Blist" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Blist">
		<xs:sequence>
			<xs:element name="Bill" type="Bill" minOccurs="1" maxOccurs="500"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsgId">
		<xs:sequence>
			<xs:element name="Id" type="Max35NumericText"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QuoteInf">
		<xs:sequence>
			<xs:element name="BusiType" type="BusiType"/>
			<xs:element name="TrdDir" type="TrdDir"/>
			<xs:element name="IsAno" type="YON"/>
			<xs:element name="TrdScope" type="TrdScope"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SlfInf">
		<xs:sequence>
			<xs:element name="ReqBranch" type="MaxMin9NumericText"/>
			<xs:element name="ProductId" type="MaxMin9NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ReqUser" type="Max10AlphaNumericText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QuoteFctInf">
		<xs:sequence>
			<xs:element name="CdType" type="CdType"/>
			<xs:element name="CdMedia" type="CdMedia"/>
			<xs:element name="TrdRate" type="PercentageRate"/>
			<xs:element name="SubDeal" type="SubDeal"/>
			<xs:element name="QuoteTime" type="ISOTime"/>
			<xs:element name="SetTime" type="ISOTime"/>
			<xs:element name="SetSpeed" type="SetSpeed"/>
			<xs:element name="SetDate" type="ISODate"/>
			<xs:element name="SetMode" type="SetMode"/>
			<xs:element name="ClrTp" type="ClrTp"/>
			<xs:element name="Paycfm" type="YON" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TenorDaysB" type="Max10NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TenorDaysE" type="Max10NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DueDtB" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DueDtE" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SumAmt" type="CurrencyAndAmount"/>
			<xs:element name="MinCdAmt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
 			<xs:element name="DrftNm" type="Max10NumericText" minOccurs="0" maxOccurs="1"/>
 			<xs:element name="PayInt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
 			<xs:element name="SetAmt" type="CurrencyAndAmount"  minOccurs="0" maxOccurs="1"/>
 			<xs:element name="TenorAvDays" type="Max10NumericText"  minOccurs="0" maxOccurs="1"/>
 			<xs:element name="YieldRate" type="PercentRate"  minOccurs="0" maxOccurs="1"/>	
 			<xs:element name="CreditType" type="CreditType"/>  
 		 	<xs:element name="CreditCode" type="Max1000Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TradeCpType" type="Max1000Text" minOccurs="0" maxOccurs="1"/>	
 			<xs:element name="ClearMode" type="ClearMode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcceptType" type="Max1000Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcceptCode" type="Max1000Text" minOccurs="0" maxOccurs="1"/>   
 	  		<xs:element name="AcptbhType" type="Max1000Text" minOccurs="0" maxOccurs="1"/>
 			<xs:element name="AcptbhCode" type="Max1000Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AddcrtType" type="Max1000Text" minOccurs="0" maxOccurs="1"/> 
  			<xs:element name="AddcrtCode" type="Max1000Text" minOccurs="0" maxOccurs="1"/>   		
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Bill">
		<xs:sequence>
			<xs:element name="CdNo" type="Max30NumericText"/>
			<xs:element name="CdAmt" type="CurrencyAndAmount"/>
			<xs:element name="DueDt" type="ISODate"/>
			<xs:element name="MatDt" type="ISODate"/>
			<xs:element name="TenorDays" type="Max10NumericText"/>
			<xs:element name="PayInt" type="CurrencyAndAmount"/>
			<xs:element name="SetAmt" type="CurrencyAndAmount"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PercentRate">
		<xs:restriction base="xs:string">
			<xs:pattern value="([\-]{0,1}\d{1,7}\.\d{1,6})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PercentageRate">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{1,1}\.\d{1,6})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SetMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ST01"/>
			<xs:enumeration value="ST02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClrTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CT01"/>
			<xs:enumeration value="CT02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="201"/>
			<xs:enumeration value="202"/>
			<xs:enumeration value="203"/>
			<xs:enumeration value="204"/>
			<xs:enumeration value="205"/>
			<xs:enumeration value="206"/>
			<xs:enumeration value="207"/>
			<xs:enumeration value="208"/>
			<xs:enumeration value="301"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SetSpeed">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CS00"/>
			<xs:enumeration value="CS01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="ISOTime">
		<xs:restriction base="xs:time"/>
	</xs:simpleType>
	<xs:simpleType name="SubDeal">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="(\d{1,16})|(\d{1,16}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="CNY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CdMedia">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ME01"/>
			<xs:enumeration value="ME02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CdType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AC01"/>
			<xs:enumeration value="AC02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PtcptSgntr">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="QuoteOp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BusiType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BT01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TrdDir">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TDD01"/>
			<xs:enumeration value="TDD02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin16AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="16"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[a-zA-Z0-9]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[a-zA-Z0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max30NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin9NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max1000Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TrdScope">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TS01"/>
			<xs:enumeration value="TS02"/>
			<xs:enumeration value="TS03"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClearMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CLE001"/>
			<xs:enumeration value="CLE002"/> 
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YON">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
