schema/up/CIM.014.002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MainBody"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="MainBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgId"/> <!-- 报文标识 -->
				<xs:element ref="QryPsnInf"/><!-- 查询申请人 -->
				<xs:element ref="SgntrMk" minOccurs="0" maxOccurs="1"/><!-- 签章信息 -->
				<xs:element ref="QryBusiInf"/><!-- 查询信息 -->
				<xs:element ref="ExtInfs" minOccurs="0" maxOccurs="1"/><!-- 扩展属性信息 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 报文标识 -->
	<xs:element name="MsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 查询申请人 -->
	<xs:element name="QryPsnInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppBrId" type="MaxMin6NumericText"/><!-- 业务办理渠道代码 -->
				<xs:element ref="DrtPtcptInf" minOccurs="0" maxOccurs="1"/><!-- 直接业务主体信息 -->
				<xs:element ref="NoDrtPtcptInf" minOccurs="0" maxOccurs="1"/><!-- 非直接业务主体信息 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 直接业务主体信息 -->
	<xs:element name="DrtPtcptInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PtcptId" type="Max32AlphaNumericSymbolText"/><!-- 业务主体识别代码 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 非直接业务主体信息 -->
	<xs:element name="NoDrtPtcptInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max150Text"/><!-- 名称 -->
				<xs:element name="SocCode" type="Max32AlphaNumericSymbolText" minOccurs="0" maxOccurs="1"/><!-- 统一识别代码 -->
				<xs:element name="DistTp" type="DistTp"/><!-- 识别类型 -->
				<xs:element ref="CdAcctInf" minOccurs="0" maxOccurs="1"/><!-- 票据账户信息 -->
				<xs:element ref="BrAcctInf" minOccurs="0" maxOccurs="1"/><!-- 银行账户信息 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 票据账户信息 -->
	<xs:element name="CdAcctInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Acct" type="Max32AlphaNumericSymbolText"/><!-- 账号 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 银行账户信息 -->
	<xs:element name="BrAcctInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AcctName" type="Max150Text"/>
				<xs:element name="Acct" type="Max32AlphaNumericText"/><!-- 账号 -->
				<xs:element name="OpenBrId" type="MaxMin9NumericText"/><!-- 开户行机构参与者代码 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 签章信息 -->
	<xs:element name="SgntrMk">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PrxySgntr" type="ProxySignatureCode"/><!-- 签章标记 -->
				<xs:element name="PtcptSgntr" minOccurs="0" type="Max2000Text"/><!-- 电子签名 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 查询信息 -->
	<xs:element name="QryBusiInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="QryDt" type="ISODate"/><!-- 申请日期 -->
				<xs:element name="AttBtNo" type="Max32AlphaNumericText"/><!-- 附件批次号 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 扩展属性信息 -->
	<xs:element name="ExtInfs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ExtInf" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 扩展属性 -->
	<xs:element name="ExtInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max150Text"/><!-- 属性名 -->
				<xs:element name="Value" type="Max500Text"/><!-- 属性值 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max40AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
			<xs:pattern value="[a-zA-Z0-9\-]{1,40}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	
	<xs:simpleType name="MaxMin9NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin6NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin32AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9\-]{32}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max32AlphaNumericSymbolText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9\-]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max150Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DistTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DT01"/>
			<xs:enumeration value="DT02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max32AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProxySignatureCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PS00"/>
			<xs:enumeration value="PS01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max2000Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max500Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
</xs:schema>
