schema/up/CIM.023.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MainBody" />
				<xs:element name="PtcptSgntr" type="Signature" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="Signature">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="MainBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgId"/>
				<xs:element ref="MaintInf"/>
				<xs:element ref="SgntrMk" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="DraftBasicInf"/>
				<xs:element ref="BusiInf"/>
				<xs:element ref="ExtInfs" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="MsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="MaintInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppBrId" type="MaxMin6NumericText"/>
				<xs:element ref="DrtPtcptInf" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="NoDrtPtcptInf" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="DrtPtcptInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PtcptId" type="Max32AlphaNumericSymbolText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="NoDrtPtcptInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max60Text" minOccurs="0" maxOccurs="1"/>
				<xs:element name="SocCode" type="Max32AlphaNumericSymbolText" minOccurs="0" maxOccurs="1"/>
				<xs:element name="DistTp" type="DistTp"/>
				<xs:element ref="CdAcctInf" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BrAcctInf" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="CdAcctInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Acct" type="Max32AlphaNumericSymbolText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="BrAcctInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AcctName" type="Max150Text" />
				<xs:element name="Acct" type="Max32AlphaNumericText" />
				<xs:element name="OpenBrId" type="MaxMin9NumericText" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="SgntrMk">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PrxySgntr" type="ProxySignatureCode"/>
				<xs:element name="PtcptSgntr" type="Max2000Text" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="DraftBasicInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CdNo" type="MaxMin30NumericText" minOccurs="0" maxOccurs="1"/>
				<xs:element name="CdRange" type="Max25Text" minOccurs="0" maxOccurs="1"/>
				<xs:element name="CdAmt" type="CurrencyAndAmount"/>
				<xs:element name="StdAmt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="BusiInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Dt" type="ISODate"/>
				<xs:element name="BusiCategory" type="BusiCategory"/>
				<xs:element name="Note" type="Max150Text" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BnedMtmrkInf" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="OtherOpInf" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BtNoInf" minOccurs="0" maxOccurs="1"/>
				<xs:element name="RgtType" type="StpRlvType" />
				<xs:element name="StpRlvDt" type="ISODate" />
				<xs:element ref="AttInfs" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="BnedMtmrkInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BnedMtmrk" type="BanEndorsementMarkCode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="OtherOpInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OtherOp" type="Max150Text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="BtNoInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BtNo" type="Max150Text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="AttInfs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AttInf" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="AttInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AttType" type="AttTypeCode"/>
				<xs:element name="AttBtNo" type="MaxMin32AlphaNumericText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ExtInfs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ExtInf" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="ExtInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max150Text"/>
				<xs:element name="Value" type="Max500Text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max5NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="5"/>
			<xs:pattern value="|[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max500Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max100NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="100"/>
			<xs:pattern value="|[0-9]{1,100}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	
	<xs:simpleType name="MaxMin6NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="6" />
			<xs:maxLength value="6" />
			<xs:pattern value="[0-9]{6}" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="MaxMin12NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="12" />
			<xs:maxLength value="12" />
			<xs:pattern value="[0-9]{12}" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max32AlphaNumericNoSymbolText">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9\-]{0,32}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max32AlphaNumericSymbolText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9\-]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max60Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max150Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max256Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="SetDistTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DT01"/>
			<xs:enumeration value="DT02"/>  
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="Max32AlphaNumericNoText">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9]{0,32}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="MaxMin9AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[a-zA-Z0-9]{0,9}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="MaxMin6AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[a-zA-Z0-9]{0,6}"/>
		</xs:restriction>
	</xs:simpleType>
		
	<xs:simpleType name="MaxMin4AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[a-zA-Z0-9]{0,4}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="MaxMin9NumericNoText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9" />
			<xs:maxLength value="9" />
			<xs:pattern value="[0-9]{0,9}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ProxySignatureCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PS00"/>
			<xs:enumeration value="PS01"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="StpRlvType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ST01"/>
			<xs:enumeration value="ST02"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AttTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FT01"/>
			<xs:enumeration value="FT02"/>
			<xs:enumeration value="FT03"/>
			<xs:enumeration value="FT04"/>
			<xs:enumeration value="FT05"/>
			<xs:enumeration value="FT06"/>
			<xs:enumeration value="FT07"/>
			<xs:enumeration value="FT08"/>
			<xs:enumeration value="FT09"/>
			<xs:enumeration value="FT10"/>
			<xs:enumeration value="FT11"/>
			<xs:enumeration value="FT12"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="BanEndorsementMarkCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EM00"/>
			<xs:enumeration value="EM01"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="YON">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BillBeh">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BB01"/>
			<xs:enumeration value="BB02"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="OperTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OT01"/>
			<xs:enumeration value="OT02"/>
			<xs:enumeration value="OT03"/>
			<xs:enumeration value="OT04"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DistTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DT01"/>
			<xs:enumeration value="DT02"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max2000Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="MaxMin30NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="30" />
			<xs:maxLength value="30" />
			<xs:pattern value="[0-9]{30}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MaxMin9NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9" />
			<xs:maxLength value="9" />
			<xs:pattern value="[0-9]{9}" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max25Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
			<xs:pattern value="|0|[0-9]{12},[0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="CurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="CurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="(\d{1,16})|(\d{1,16}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="CNY"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>

	<xs:simpleType name="PercentageRate">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{1,1})|(\d{1,1}\.\d{1,6})"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="BusiCategory">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BC01"/>
			<xs:enumeration value="BC02"/>
			<xs:enumeration value="BC03"/>
			<xs:enumeration value="BC04"/>
			<xs:enumeration value="BC05"/>
			<xs:enumeration value="BC06"/>
			<xs:enumeration value="BC07"/>
			<xs:enumeration value="BC08"/>
			<xs:enumeration value="BC09"/>
			<xs:enumeration value="BC10"/>
			<xs:enumeration value="BC11"/>
			<xs:enumeration value="BC12"/>
			<xs:enumeration value="BC13"/>
			<xs:enumeration value="BC14"/>
			<xs:enumeration value="BC15"/>
			<xs:enumeration value="BC16"/>
			<xs:enumeration value="BC17"/>
			<xs:enumeration value="BC18"/>
			<xs:enumeration value="BC19"/>
			<xs:enumeration value="BC20"/>
			<xs:enumeration value="BC21"/>
			<xs:enumeration value="BC22"/>
			<xs:enumeration value="BC23"/>
			<xs:enumeration value="BC24"/>
			<xs:enumeration value="BC25"/>
			<xs:enumeration value="BC26"/>
			<xs:enumeration value="BC27"/>
			<xs:enumeration value="BC28"/>
			<xs:enumeration value="BC29"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max32AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max10AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="|[a-zA-Z0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MaxMin32AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="32"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9]{32}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>