schema/up/CIM.012.002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MainBody"/>
				<xs:element name="PtcptSgntr" type="Signature" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="MainBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgId"/><!-- 报文标识 -->
				<xs:element ref="AplPsnInf"/><!-- 申请人信息 -->
				<xs:element ref="SgntrMk" minOccurs="0" maxOccurs="1"/><!-- 企业签章信息 -->
				<xs:element ref="UpLoadInf"/><!-- 上传信息 -->
				<xs:element ref="AttInf"/><!-- 文件信息 -->
				<xs:element ref="ExtInfs" minOccurs="0" maxOccurs="1"/><!-- 扩展属性信息 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 报文标识 -->
	<xs:element name="MsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/><!-- 申请人信息 -->
				<xs:element name="CreDtTm" type="ISODateTime"/><!-- 申请人信息 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 申请人信息 -->
	<xs:element name="AplPsnInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppBrId" type="MaxMin6NumericText"/><!-- 业务办理渠道代码 -->
				<xs:element ref="DrtPtcptInf" minOccurs="0" maxOccurs="1"/><!-- 直接业务主体信息 -->
				<xs:element ref="NoDrtPtcptInf" minOccurs="0" maxOccurs="1"/><!-- 非直接业务主体信息 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 直接业务主体信息 -->
	<xs:element name="DrtPtcptInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PtcptId" type="Max32AlphaNumericSymbolText"/><!-- 业务主体识别代码 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 非直接业务主体信息 -->
	<xs:element name="NoDrtPtcptInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max150Text"/><!-- 名称 -->
				<xs:element name="SocCode" type="Max32AlphaNumericSymbolText" minOccurs="0"/><!-- 统一识别代码 -->
				<xs:element name="DistTp" type="DistTp"/><!-- 识别类型 -->
				<xs:element ref="CdAcctInf" minOccurs="0" maxOccurs="1"/><!-- 票据账户信息 -->
				<xs:element ref="BrAcctInf" minOccurs="0" maxOccurs="1"/><!-- 银行账户信息 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 票据账户信息 -->
	<xs:element name="CdAcctInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Acct" type="Max32AlphaNumericSymbolText"/><!-- 账号 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 银行账户信息 -->
	<xs:element name="BrAcctInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AcctName" type="Max150Text"/>
				<xs:element name="Acct" type="Max32AlphaNumericText"/><!-- 账号 -->
				<xs:element name="OpenBrId" type="MaxMin9NumericText"/><!-- 开户行机构参与者代码 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 企业签章信息 -->
	<xs:element name="SgntrMk">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PrxySgntr" type="ProxySignatureCode"/><!-- 签章标记 -->
				<xs:element name="PtcptSgntr" minOccurs="0"  maxOccurs="1" type="Max2000Text"/><!-- 电子签名 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 上传信息 -->
	<xs:element name="UpLoadInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Dt" type="ISODate"/><!-- 上传日期 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 文件信息 -->
	<xs:element name="AttInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FileName" type="Max256Text" /><!-- 文件说明 -->
				<xs:element name="AttTyp" type="AttTypeCode" minOccurs="0" maxOccurs="1" /><!-- 文件类型 -->
				<xs:element name="FileSuffix" type="Max4AlphaNumericText" /><!-- 文件扩展名 -->
				<xs:element name="AttFile" type="AttFile" /><!-- 文件 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 扩展属性信息 -->
	<xs:element name="ExtInfs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ExtInf" minOccurs="0" maxOccurs="unbounded"/><!-- 扩展属性 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 扩展属性 -->
	<xs:element name="ExtInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max150Text"/><!-- 属性名 -->
				<xs:element name="Value" type="Max500Text"/><!-- 属性值 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name="MaxMin9NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="MaxMin6NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max32AlphaNumericSymbolText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9\-]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max32AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	
    <xs:simpleType name="Max256Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max2000Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max150Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max500Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DistTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DT01"/>
			<xs:enumeration value="DT02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AttTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FT01"/>
			<xs:enumeration value="FT02"/>
			<xs:enumeration value="FT03"/>
			<xs:enumeration value="FT04"/>
			<xs:enumeration value="FT05"/>
			<xs:enumeration value="FT06"/>
			<xs:enumeration value="FT07"/>
			<xs:enumeration value="FT08"/>
			<xs:enumeration value="FT09"/>
			<xs:enumeration value="FT10"/>
			<xs:enumeration value="FT11"/>
			<xs:enumeration value="FT12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProxySignatureCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PS00"/>
			<xs:enumeration value="PS01"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max4AlphaNumericText">
	    <xs:restriction base="xs:string">
			<xs:enumeration value="jpg"/>
			<xs:enumeration value="jpG"/>
			<xs:enumeration value="jPg"/>
			<xs:enumeration value="Jpg"/>
			<xs:enumeration value="jPG"/>
			<xs:enumeration value="JpG"/>
			<xs:enumeration value="JPg"/>
			<xs:enumeration value="JPG"/>
			
			<xs:enumeration value="jPeG"/>
			<xs:enumeration value="jPeg"/>
			<xs:enumeration value="jPEg"/>
			<xs:enumeration value="jPEG"/>
			<xs:enumeration value="jpEg"/>
			<xs:enumeration value="jpEG"/>
			<xs:enumeration value="jpeG"/>
			<xs:enumeration value="jpeg"/>
			<xs:enumeration value="JPEg"/>
			<xs:enumeration value="JPEG"/>
			<xs:enumeration value="JPeg"/>
			<xs:enumeration value="JPeG"/>
			<xs:enumeration value="JpEg"/>
			<xs:enumeration value="JpEG"/>
			<xs:enumeration value="Jpeg"/>
			<xs:enumeration value="JpeG"/>
			
			<xs:enumeration value="png"/>
			<xs:enumeration value="pNg"/>
			<xs:enumeration value="pNg"/>
			<xs:enumeration value="pnG"/>
			<xs:enumeration value="Png"/>
			<xs:enumeration value="PnG"/>
			<xs:enumeration value="PNg"/>
			<xs:enumeration value="PNG"/>
			
			<xs:enumeration value="gif"/>
			<xs:enumeration value="giF"/>
			<xs:enumeration value="gIf"/>
			<xs:enumeration value="gIF"/>
			<xs:enumeration value="Gif"/>
			<xs:enumeration value="GiF"/>
			<xs:enumeration value="GIF"/>
			<xs:enumeration value="GIf"/>
				
			<xs:enumeration value="bmp"/>
			<xs:enumeration value="bmP"/>
			<xs:enumeration value="bMp"/>
			<xs:enumeration value="bMP"/>
			<xs:enumeration value="Bmp"/>
			<xs:enumeration value="BmP"/>
			<xs:enumeration value="BMp"/>
			<xs:enumeration value="BMP"/>
			
			<xs:enumeration value="xls"/>
			<xs:enumeration value="xlS"/>
			<xs:enumeration value="xLs"/>
			<xs:enumeration value="xLS"/>
			<xs:enumeration value="Xls"/>
			<xs:enumeration value="XlS"/>
			<xs:enumeration value="XLs"/>
			<xs:enumeration value="XLS"/>
			
			<xs:enumeration value="xLsx"/>
			<xs:enumeration value="xLsX"/>
			<xs:enumeration value="xLSx"/>
			<xs:enumeration value="xLSX"/>
			<xs:enumeration value="xlsx"/>
			<xs:enumeration value="xlsX"/>
			<xs:enumeration value="xlSx"/>
			<xs:enumeration value="xlSX"/>
			<xs:enumeration value="XLsx"/>
			<xs:enumeration value="XLsX"/>
			<xs:enumeration value="XLSx"/>
			<xs:enumeration value="XLSX"/>
			<xs:enumeration value="Xlsx"/>
			<xs:enumeration value="XlsX"/>
			<xs:enumeration value="XlSx"/>
			<xs:enumeration value="XlSX"/>
			
			<xs:enumeration value="et"/>
			<xs:enumeration value="eT"/>
			<xs:enumeration value="Et"/>
			<xs:enumeration value="ET"/>
			
			
			<xs:enumeration value="doc"/>
			<xs:enumeration value="doC"/>
			<xs:enumeration value="dOc"/>
			<xs:enumeration value="dOC"/>
			<xs:enumeration value="Doc"/>
			<xs:enumeration value="DoC"/>
			<xs:enumeration value="DOc"/>
			<xs:enumeration value="DOC"/>
			
			<xs:enumeration value="docx"/>
			<xs:enumeration value="doCx"/>
			<xs:enumeration value="doCX"/>
			<xs:enumeration value="docX"/>
			<xs:enumeration value="dOcx"/>
			<xs:enumeration value="dOcX"/>
			<xs:enumeration value="dOCx"/>
			<xs:enumeration value="dOCX"/>
			<xs:enumeration value="Docx"/>
			<xs:enumeration value="DocX"/>
			<xs:enumeration value="DoCx"/>
			<xs:enumeration value="DoCX"/>
			<xs:enumeration value="DOcx"/>
			<xs:enumeration value="DOCX"/>
			<xs:enumeration value="DOCx"/>
			<xs:enumeration value="DOCX"/>
			
			<xs:enumeration value="wps"/>
			<xs:enumeration value="wpS"/>
			<xs:enumeration value="wPs"/>
			<xs:enumeration value="wPS"/>
			<xs:enumeration value="Wps"/>
			<xs:enumeration value="WpS"/>
			<xs:enumeration value="WPs"/>
			<xs:enumeration value="WPS"/>
			
			<xs:enumeration value="ppt"/>
			<xs:enumeration value="ppT"/>
			<xs:enumeration value="pPt"/>
			<xs:enumeration value="pPT"/>
			<xs:enumeration value="Ppt"/>
			<xs:enumeration value="PpT"/>
			<xs:enumeration value="PPt"/>
			<xs:enumeration value="PPT"/>
			
			<xs:enumeration value="pps"/>
			<xs:enumeration value="ppS"/>
			<xs:enumeration value="pPs"/>
			<xs:enumeration value="pPS"/>
			<xs:enumeration value="PPs"/>
			<xs:enumeration value="PPS"/>
			<xs:enumeration value="Pps"/>
			<xs:enumeration value="PpS"/>
			
			<xs:enumeration value="dps"/>
			<xs:enumeration value="dpS"/>
			<xs:enumeration value="dPs"/>
			<xs:enumeration value="dPS"/>
			<xs:enumeration value="Dps"/>
			<xs:enumeration value="DpS"/>
			<xs:enumeration value="DPS"/>
			<xs:enumeration value="DPs"/>
			
			<xs:enumeration value="pdf"/>
			<xs:enumeration value="pdF"/>
			<xs:enumeration value="pDf"/>
			<xs:enumeration value="pDF"/>
			<xs:enumeration value="PDf"/>
			<xs:enumeration value="PDF"/>
			<xs:enumeration value="Pdf"/>
			<xs:enumeration value="PdF"/>
			
			<xs:enumeration value="zip"/>
			<xs:enumeration value="ziP"/>
			<xs:enumeration value="zIp"/>
			<xs:enumeration value="zIP"/>
			<xs:enumeration value="Zip"/>
			<xs:enumeration value="ZiP"/>
			<xs:enumeration value="ZIp"/>
			<xs:enumeration value="ZIP"/>
			
			<xs:enumeration value="rar"/>
			<xs:enumeration value="raR"/>
			<xs:enumeration value="rAr"/>
			<xs:enumeration value="rAR"/>
			<xs:enumeration value="Rar"/>
			<xs:enumeration value="RaR"/>
			<xs:enumeration value="RAr"/>
			<xs:enumeration value="RAR"/>
			
			<xs:enumeration value="pptx"/>
			<xs:enumeration value="pptX"/>
			<xs:enumeration value="ppTx"/>
			<xs:enumeration value="ppTX"/>
			<xs:enumeration value="pPtx"/>
			<xs:enumeration value="pPtX"/>
			<xs:enumeration value="pPTx"/>
			<xs:enumeration value="pPTX"/>
			<xs:enumeration value="Pptx"/>
			<xs:enumeration value="PptX"/>
			<xs:enumeration value="PpTx"/>
			<xs:enumeration value="PpTX"/>
			<xs:enumeration value="PPtx"/>
			<xs:enumeration value="PPtX"/>
			<xs:enumeration value="PPTx"/>
			<xs:enumeration value="PPTX"/>
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>

	
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>	
	
    <xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
   <xs:simpleType name="AttFile">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3145728"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Signature">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
