schema/up/CIM.031.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MainBody" />
				<xs:element name="PtcptSgntr" type="Signature" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Signature">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="MainBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgId"/>
				<xs:element ref="DraftBasicInf"/>
				<xs:element ref="RgstInf"/>
				<xs:element ref="RgstPsnInf"/>		
				<xs:element ref="SgntrMk" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="SlfInf"/>
				<xs:element ref="CpInf"/>
				<xs:element ref="ContInf" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="InvInf" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="OthVouInf" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="IsVeriFic" type="YON" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Notes" type="Max150Text" minOccurs="0" maxOccurs="1" />
				<xs:element ref="ExtInfs" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="MsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="DraftBasicInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CdNo" type="MaxMin30NumericText"/>
				<xs:element name="CdRange" type="Max25Text"/>
				<xs:element name="CdAmt" type="CurrencyAndAmount"/>
				<xs:element name="StdAmt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
				<xs:element name="BillBeh" type="BillBeh"/>
				<xs:element name="BillBehSeq" type="Max5NumericText" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="RgstInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RgstDt" type="ISODate"/>
				<xs:element name="RgstType" type="OperTp"/>
				<xs:element name="TraAmt" type="CurrencyAndAmount"/>
				<xs:element name="TraMod" type="TraMod"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="RgstPsnInf">
			<xs:complexType>
			<xs:sequence>
				<xs:element name="AppBrId" type="MaxMin6NumericText"/>
				<xs:element ref="DrtPtcptInf" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="NoDrtPtcptInf" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="DrtPtcptInf"> 
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PtcptId" type="Max32AlphaNumericSymbolText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="NoDrtPtcptInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" minOccurs="0" maxOccurs="1" type="Max60Text" />
				<xs:element name="SocCode " type="Max32AlphaNumericSymbolText" minOccurs="0" maxOccurs="1"/>
				<xs:element name="DistTp" type="DistTp"/>	
				<xs:element ref="CdAcctInf" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="BrAcctInf" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CdAcctInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Acct" type="Max32AlphaNumericSymbolText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BrAcctInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AcctName" type="Max150Text" />
				<xs:element name="Acct" type="Max32AlphaNumericText" />
				<xs:element name="OpenBrId" type="MaxMin9NumericText" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	


	<xs:element name="SgntrMk">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PrxySgntr" type="ProxySignatureCode"/>
				<xs:element name="PtcptSgntr" type="Max2000Text" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<xs:element name="SlfInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppBrId" type="MaxMin6NumericText"/>
				<xs:element ref="DrtPtcptInf" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="NoDrtPtcptInf" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	

	<xs:element name="CpInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppBrId" type="MaxMin6NumericText"/>
				<xs:element ref="DrtPtcptInf" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="NoDrtPtcptInf" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	



	<xs:element name="ContInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ContType" type="TraInfTp"/>
				<xs:element name="ContTraMod" type="TraMod"/>
				<xs:element name="ContNo" type="Max32AlphaNumericText"/>
				<xs:element name="Dt" type="ISODate" minOccurs="0" maxOccurs="1"/>
				<xs:element name="ContAmt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="AnxNos" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="AnxNos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AnxNo" type="Max32AlphaNumericText" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="InvInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="InvNum" type="Max20NumericText" />
				<xs:element name="InvCd" type="Max12NumericText" minOccurs="0" maxOccurs="1"/>
				<xs:element name="InvAmt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
				<xs:element name="InvDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
				<xs:element name="InvTyp" type="InvTp" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="InvAnxNos" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InvAnxNos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="InvAnxNo" type="Max32AlphaNumericText" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="OthVouInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OthVouNum" type="Max32AlphaNumericText" />
				<xs:element name="OthVouPur" type="Max500Text" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="OthVouNos" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OthVouNos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OthVouNo" type="Max32AlphaNumericText" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>		
<!-- 	<xs:element name="Notes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Notes" type="Max150Text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	 -->
	<xs:element name="ExtInfs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ExtInf" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="ExtInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max150Text"/>
				<xs:element name="Value" type="Max500Text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max5NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="5"/>
			<xs:pattern value="|[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max8NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max20NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
			<xs:pattern value="[0-9]{1,20}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max12NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="[0-9]{1,12}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max500Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max100NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="100"/>
			<xs:pattern value="|[0-9]{1,100}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	
	<xs:simpleType name="MaxMin6NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="6" />
			<xs:maxLength value="6" />
			<xs:pattern value="[0-9]{6}" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="MaxMin12NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="12" />
			<xs:maxLength value="12" />
			<xs:pattern value="[0-9]{12}" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max32AlphaNumericNoSymbolText">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9\-]{0,32}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max32AlphaNumericSymbolText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9\-]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max150Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max256Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="SetDistTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DT01"/>
			<xs:enumeration value="DT02"/>  
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="SignUpMarkCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SU00"/>
			<xs:enumeration value="SU01"/>
			<xs:enumeration value="SU02"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TraInfTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TIT01"/>
			<xs:enumeration value="TIT02"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TraMod">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TM01"/>
			<xs:enumeration value="TM02"/>
			<xs:enumeration value="TM03"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max32AlphaNumericNoText">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9]{0,32}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="MaxMin9AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[a-zA-Z0-9]{0,9}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="MaxMin6AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[a-zA-Z0-9]{0,6}"/>
		</xs:restriction>
	</xs:simpleType>
		
	<xs:simpleType name="MaxMin4AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[a-zA-Z0-9]{0,4}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="MaxMin9NumericNoText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9" />
			<xs:maxLength value="9" />
			<xs:pattern value="[0-9]{0,9}" />
		</xs:restriction>
	</xs:simpleType>
	
	
	<xs:simpleType name="ProxySignatureCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PS00"/>
			<xs:enumeration value="PS01"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="InvTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="IT01"/>
			<xs:enumeration value="IT02"/>
		</xs:restriction>
	</xs:simpleType>
	
<!--	<xs:simpleType name="DraftTypeCode">-->
<!--			<xs:restriction base="PS01"/>-->
<!--	</xs:simpleType>-->
	
	<xs:simpleType name="BanEndorsementMarkCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PS01"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="YON">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BillBeh">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BB01"/>
			<xs:enumeration value="BB02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OperTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OT01"/>
			<xs:enumeration value="OT02"/>
			<xs:enumeration value="OT03"/>
			<xs:enumeration value="OT04"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DistTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DT01"/>
			<xs:enumeration value="DT02"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max2000Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="MaxMin30NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="30" />
			<xs:maxLength value="30" />
			<xs:pattern value="[0-9]{30}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MaxMin9NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9" />
			<xs:maxLength value="9" />
			<xs:pattern value="[0-9]{9}" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max25Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="25"/>
			<xs:pattern value="|0|[0-9]{12},[0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="CurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="(\d{1,16})|(\d{1,16}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="CNY"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
	<xs:simpleType name="PercentageRate">
			<xs:restriction base="xs:string"/>
	</xs:simpleType>
	
	<xs:simpleType name="BusiCategory">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BS03"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max32AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max10AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="|[a-zA-Z0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max60Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>