schema/up/CPP.014.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MainBody" type="MainBody"/>
			<xs:element name="PtcptSgntr" type="PtcptSgntr"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MainBody">
		<xs:sequence>
			<xs:element name="MsgId" type="MsgId"/>
			<xs:element name="QuoteInf" type="QuoteInf"/>
			<xs:element name="SlfInf" type="SlfInf"/>
			<xs:element name="DccInf" type="DccInf"/>
			<xs:element name="QuoteFctInf" type="QuoteFctInf"/>
			<xs:element name="Blist" type="Blist"/>
		</xs:sequence>
	</xs:complexType> 
	
	 <xs:complexType name="MsgId">
		<xs:sequence>
			<xs:element name="Id" type="Max35NumericText"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QuoteInf">
		<xs:sequence>
			<xs:element name="BusiType" type="DCBusiType"/>
		</xs:sequence>
	</xs:complexType> 
	
	<xs:complexType name="SlfInf">
		<xs:sequence>
			<xs:element name="ReqBranch" type="MaxMin9NumericText"/>
			<xs:element name="ReqUser" type="Max10AlphaNumericText"/>
		</xs:sequence>
	</xs:complexType> 
	
	<xs:complexType name="DccInf">
		<xs:sequence>
			<xs:element name="SocCode" type="MaxMin18AlphaNumericText"/>
		</xs:sequence>
	</xs:complexType> 
	
	<xs:complexType name="QuoteFctInf">
		<xs:sequence>
			<xs:element name="CdType" type="DraftTypeCode"/>
			<xs:element name="CdMedia" type="CdMedia"/>
			<xs:element name="AllowFlag" type="YON"/> 
			<xs:element name="DrftNm" type="Max10NumericText"/>
			<xs:element name="SumAmt" type="CurrencyAndAmount"/>
			<xs:element name="TrdRate" type="PercentageRate"/>
			<xs:element name="AnsTime" type="ISOTime"/>
			<xs:element name="TenorDays" type="Max10NumericText"/>
			<xs:element name="SetDate" type="ISODate"/>
			<xs:element name="SetSpeed" type="ClearSpeed"/>
			<xs:element name="SetMode" type="DcClearMode"/>
			<xs:element name="PayInt" type="CurrencyAndAmount"/>
			<xs:element name="SetAmt" type="CurrencyAndAmount"/>
			<xs:element name="TradeCpType" type="Max1000Text"/>
			<xs:element name="BranchType" type="Max1000Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TfdBnkCode" type="Max14NumericText"/>
			<xs:element name="AppdList" type="AppdList" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Note" type="Max300Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType> 
	
	<xs:complexType name="AppdList">
		<xs:sequence>
			<xs:element name="AppdInf" type="AppdInf" minOccurs="1" maxOccurs="70"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AppdInf">
		<xs:sequence>
			<xs:element name="FileType" type="AttTypeCode"/>			<xs:element name="FileId" type="MaxMin32AlphaNumericText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Blist">
		<xs:sequence>
			<xs:element name="Bill" type="Bill"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Bill">
		<xs:sequence>
			<xs:element name="CdNo" type="Max30NumericText"/>
			<xs:element name="CdAmt" type="CurrencyAndAmount"/>
			<xs:element name="DueDt" type="ISODate"/>
			<xs:element name="MatDt" type="ISODate"/>
			<xs:element name="TenorDays" type="Max10NumericText"/>
			<xs:element name="PayInt" type="CurrencyAndAmount"/>
			<xs:element name="SetAmt" type="CurrencyAndAmount"/>
			<xs:element name="TfdAcct" type="Max32AlphaNumericText"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="Max32AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DCBusiType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RE4011"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[a-zA-Z0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin9NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max166Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="166"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin32AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="32"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AttTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FT01"/>
			<xs:enumeration value="FT02"/>
			<xs:enumeration value="FT03"/>
			<xs:enumeration value="FT04"/>
			<xs:enumeration value="FT05"/>
			<xs:enumeration value="FT06"/>
			<xs:enumeration value="FT07"/>
			<xs:enumeration value="FT08"/>
			<xs:enumeration value="FT09"/>
			<xs:enumeration value="FT10"/> 
			<xs:enumeration value="FT11"/>
			<xs:enumeration value="FT12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DraftTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AC01"/>
			<xs:enumeration value="AC02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CdMedia">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ME02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YON">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PercentageRate">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{1,1}\.\d{1,6})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISOTime">
		<xs:restriction base="xs:time"/>
	</xs:simpleType>
	<xs:simpleType name="AnsTime">
		<xs:restriction base="xs:string">
			<xs:pattern value="(([0-1]\d{0,1}|2[0-4]):([0-5]\d{0,1}))"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClearSpeed">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CS00"/>
			<xs:enumeration value="CS01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DcClearMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OLN01"/>  			<xs:enumeration value="OLN02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max1000Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max30NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType> 
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType> 
	<xs:simpleType name="Max10NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType> 
		<xs:complexType name="CurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType> 
		<xs:simpleType name="CurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="(\d{1,16})|(\d{1,16}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType> 
		<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="CNY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max14NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
			<xs:pattern value="[0-9]{1,14}"/>
		</xs:restriction>
	</xs:simpleType> 
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType> 
		<xs:simpleType name="MaxMin18AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="18"/>
			<xs:maxLength value="18"/>
			<xs:pattern value="[a-zA-Z0-9]{18,18}"/>
		</xs:restriction>
	</xs:simpleType>
 	<xs:simpleType name="PtcptSgntr">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max300Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="300"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
