schema/up/CPP.001.002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MainBody"/>
				<xs:element name="PtcptSgntr" type="Signature"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MainBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgId"/><!-- 报文标识 -->
				<xs:element name="AltrnTp" type="AltrnTp"/><!--操作类型-->
				<xs:element ref="RgtBrInf"/><!--登记机构信息-->
				<xs:element ref="DiscInf"/><!--贴现申请人信息-->
				<xs:element ref="AttInfCol" minOccurs="0" maxOccurs="1"/><!-- 附件信息集合 -->
				<xs:element ref="ExtInfs" minOccurs="0" maxOccurs="1"/><!-- 扩展属性信息 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- 报文标识 -->
	<xs:element name="MsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--登记机构信息-->
	<xs:element name="RgtBrInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BrId" type="Max9AlphaNumericText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--贴现申请人信息-->
	<xs:element name="DiscInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BasicInf"/><!-- 基本信息 -->
				<xs:element ref="AgentInf" minOccurs="0" maxOccurs="1"/><!-- 授权经办人信息 -->
				<xs:element ref="LegalInf" minOccurs="0" maxOccurs="1"/><!-- 法定代表人信息 -->
				<xs:element ref="ShareholderInf" minOccurs="0" maxOccurs="unbounded"/><!-- 股东信息 -->
				<xs:element ref="BnfcInf" minOccurs="0" maxOccurs="unbounded"/><!-- 受益所有人信息 -->
				<xs:element ref="InvInf" minOccurs="0" maxOccurs="1"/><!-- 开票信息 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--基本信息-->
	<xs:element name="BasicInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max60Text"/>
				<xs:element name="SocCode" type="MaxMin18AlphaNumericText"/>
				<xs:element name="LccCode" type="Max32Text" minOccurs="0" maxOccurs="1"/>
				<xs:element name="PrCd" type="Province"/>
				<xs:element name="Addr" type="Max150Text" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Ctgy" type="MaxMin4NumericText" minOccurs="0" maxOccurs="1"/>
				<xs:element name="CorpTp" type="CorpTp" minOccurs="0" maxOccurs="1"/>
				<xs:element name="RegCap" type="CurrencyOfTenThous" minOccurs="0" maxOccurs="1"/>
				<xs:element name="IndCls" type="Industry"/>
				<xs:element name="Busiinc" type="CurrencyOfTenThous" minOccurs="0" maxOccurs="1"/>
				<xs:element name="TotalAssets" type="CurrencyOfTenThous" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Employees" type="Max20NumericText" minOccurs="0" maxOccurs="1"/>
				<xs:element name="CorpScale" type="CorpScale"/>
				<xs:element name="ArcFlag" type="YON"/>
				<xs:element name="GrnFlag" type="YON"/>
				<xs:element name="SciFlag" type="YON"/>
				<xs:element name="PopFlag" type="YON"/>
				<xs:element name="FctvDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
				<xs:element name="XpryDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
				<xs:element name="BusinessScope" type="Max500Text" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Note" type="Max150Text" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--授权经办人信息-->
	<xs:element name="AgentInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max20Text"/>
				<xs:element name="DocNb" type="Max20Text"/>
				<xs:element name="Tel" type="Max20Text" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Email" type="Max75Text" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--法定代表人信息-->
	<xs:element name="LegalInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max20Text"/>
				<xs:element name="Nationality" type="Max20Text"/>
				<xs:element name="DocTp" type="DocTp"/>
				<xs:element name="DocNb" type="Max20Text"/>
				<xs:element name="DocDt" type="ISODate"/>
				<xs:element name="DocDueDt" type="ISODate"/>
				<xs:element name="Area" type="Max150Text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--股东信息-->
	<xs:element name="ShareholderInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max20Text"/>
				<xs:element name="YieldRate" type="PercentRate"  minOccurs="0" maxOccurs="1"/>
				<xs:element name="DocTp" type="DocTp"/>
				<xs:element name="DocNb" type="Max20Text"/>
				<xs:element name="DocDt" type="ISODate"/>
				<xs:element name="DocDueDt" type="ISODate"/>
				<xs:element name="Area" type="Max150Text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--受益所有人信息-->
	<xs:element name="BnfcInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max20Text"/>
				<xs:element name="DocTp" type="DocTp"/>
				<xs:element name="DocNb" type="Max20Text"/>
				<xs:element name="DocDt" type="ISODate"/>
				<xs:element name="DocDueDt" type="ISODate"/>
				<xs:element name="Tel" type="Max20Text"/>
				<xs:element name="Adr" type="Max150Text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--开票信息-->
	<xs:element name="InvInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NeedInv" type="YON"/>
				<xs:element name="InvType" type="InvTp" minOccurs="0" maxOccurs="1"/>
				<xs:element name="TaxerType" type="TaxpayerTp" minOccurs="0" maxOccurs="1"/>
				<xs:element name="TaxerName" type="Max150Text" minOccurs="0" maxOccurs="1"/>
				<xs:element name="TaxerCode" type="Max20AlphaNumericText" minOccurs="0" maxOccurs="1"/>
				<xs:element name="InvAddr" type="Max100Text" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Tel" type="Max20AlphaNumericSymbolText" minOccurs="0" maxOccurs="1"/>
				<xs:element name="AcctBkName" type="Max150Text" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Acct" type="Max32AlphaNumericText" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- 附件信息集合 -->
	<xs:element name="AttInfCol">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AttInf" minOccurs="1" maxOccurs="80"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- 附件信息 -->
	<xs:element name="AttInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AttType" type="AttTypeCode"/>
				<xs:element name="AttBtNo" type="MaxMin32AlphaNumericText"/>
				<xs:element name="TypMrkCode" type="TypMrkCode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- 扩展属性信息 -->
	<xs:element name="ExtInfs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ExtInf" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- 扩展属性 -->
	<xs:element name="ExtInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max150Text"/>
				<xs:element name="Value" type="Max500Text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="Max20Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max32Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max75Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="75"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max100Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max150Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max60Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max500Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	
	<xs:simpleType name="AltrnTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AT01"/>
			<xs:enumeration value="AT02"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max9AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[a-zA-Z0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max32AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="MaxMin18AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="18"/>
			<xs:maxLength value="18"/>
			<xs:pattern value="[a-zA-Z0-9]{1,18}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Province">
		<xs:restriction base="xs:string">
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="50"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="34"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="36"/>
			<xs:enumeration value="37"/>
			<xs:enumeration value="41"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="43"/>
			<xs:enumeration value="44"/>
			<xs:enumeration value="45"/>
			<xs:enumeration value="46"/>
			<xs:enumeration value="51"/>
			<xs:enumeration value="52"/>
			<xs:enumeration value="53"/>
			<xs:enumeration value="61"/>
			<xs:enumeration value="62"/>
			<xs:enumeration value="63"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="54"/>
			<xs:enumeration value="64"/>
			<xs:enumeration value="65"/>
			<xs:enumeration value="81"/>
			<xs:enumeration value="82"/>
			<xs:enumeration value="71"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="MaxMin4NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="CorpTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CT01"/>
			<xs:enumeration value="CT02"/>
			<xs:enumeration value="CT03"/>
			<xs:enumeration value="CT04"/>
			<xs:enumeration value="CT05"/>
			<xs:enumeration value="CT06"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="CurrencyOfTenThous">
		<xs:simpleContent>
			<xs:extension base="CurrencyOfTenThous_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:simpleType name="CurrencyOfTenThous_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="(\d{1,12})|(\d{1,12}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="CNY"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Industry">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A0000"/>
			<xs:enumeration value="B0000"/>
			<xs:enumeration value="C0000"/>
			<xs:enumeration value="D0000"/>
			<xs:enumeration value="E0000"/>
			<xs:enumeration value="F0000"/>
			<xs:enumeration value="G0000"/>
			<xs:enumeration value="H0000"/>
			<xs:enumeration value="I0000"/>
			<xs:enumeration value="J0000"/>
			<xs:enumeration value="K0000"/>
			<xs:enumeration value="L0000"/>
			<xs:enumeration value="M0000"/>
			<xs:enumeration value="N0000"/>
			<xs:enumeration value="O0000"/>
			<xs:enumeration value="P0000"/>
			<xs:enumeration value="Q0000"/>
			<xs:enumeration value="R0000"/>
			<xs:enumeration value="S0000"/>
			<xs:enumeration value="T0000"/>
			<xs:enumeration value="U0000"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max20NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
			<xs:pattern value="[0-9]{1,20}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CorpScale">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SC00"/>
			<xs:enumeration value="SC01"/>
			<xs:enumeration value="SC02"/>
			<xs:enumeration value="SC03"/>
			<xs:enumeration value="SC04"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="YON">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DocTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DC01"/>
			<xs:enumeration value="DC02"/>
			<xs:enumeration value="DC03"/>
			<xs:enumeration value="DC04"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="PercentRate">
		<xs:restriction base="xs:string">
			<xs:pattern value="([-]{0,1}\d{1,7})|([-]{0,1}\d{1,7}\.\d{1,6})"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="InvTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="IT01"/>
			<xs:enumeration value="IT02"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TaxpayerTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TP01"/>
			<xs:enumeration value="TP02"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max20AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
			<xs:pattern value="[a-zA-Z0-9]{1,20}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Max20AlphaNumericSymbolText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
			<xs:pattern value="[a-zA-Z0-9\-]{1,20}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AttTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FT01"/>
			<xs:enumeration value="FT02"/>
			<xs:enumeration value="FT03"/>
			<xs:enumeration value="FT04"/>
			<xs:enumeration value="FT05"/>
			<xs:enumeration value="FT07"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MaxMin32AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="32"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TypMrkCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Signature">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>


</xs:schema>
