schema/up/CPP.030.001.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MainBody" type="MainBody"/>
			<xs:element name="PtcptSgntr" type="PtcptSgntr"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MainBody">
		<xs:sequence>
			<xs:element name="MsgId" type="MsgId"/>
			<xs:element name="IoiReqInf" type="IoiReqInf"/>
			<xs:element name="ReqInf" type="ReqInf" />
			<xs:element name="DccInf" type="DccInf" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ReqFctInf" type="ReqFctInf"/>
			<xs:element name="BillList" type="BillList" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ExtInfs" type="ExtInfs" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
   	<xs:complexType name="MsgId">
		<xs:sequence>
			<xs:element name="Id" type="Max35NumericText"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IoiReqInf">
		<xs:sequence>
			<xs:element name="ReqId" type="MaxMin16AlphaNumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ReqTime" type="ISODate"/>
			<xs:element name="BusiType" type="DCBusiType"/>
			<xs:element name="TrdDir" type="TdDirection"/>
			<xs:element name="BranchIdList" type="Max2000Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReqInf">
		<xs:sequence>
			<xs:element name="BranchId" type="Max9AlphaNumericText"/>
			<xs:element name="UserId" type="Max10AlphaNumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PrxySgntr" type="ProxySignatureCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PtcptSgntr" type="Max2000Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DccInf">
		<xs:sequence>
			<xs:element name="DccName" type="Max60Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SocCode" type="MaxMin18AlphaNumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CorpScale" type="CorpScale" minOccurs="0" maxOccurs="1"/>
			<xs:element name="IndCls" type="Industry" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ArcFlag" type="YON" minOccurs="0" maxOccurs="1"/>
			<xs:element name="GrnFlag" type="YON" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SciFlag" type="YON" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PopFlag" type="YON" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PrCd" type="Province" minOccurs="0" maxOccurs="1"/>	
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReqFctInf">
		<xs:sequence>
			<xs:element name="CdChannel" type="CdSource"/>
			<xs:element name="CdType" type="DraftTypeCode"/>
			<xs:element name="CdMedia" type="CDMedia"/>
			<xs:element name="DrftNm" type="Max10NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SumAmt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MinCdAmt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MaxCdAmt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TrdRate" type="PercentageRate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TenorDays" type="Max10NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SetDate" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SetSpeed" type="ClearSpeed" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SettleMode" type="SettleType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PayInt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SetAmt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MinDueDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MaxDueDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcceptType" type="Max1000Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcptBhCode" type="Max2000Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AppBrId" type="MaxMin6NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DistTp" type="DistTp" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CdAcctInf" type="CdAcctInf" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BrAcctInf" type="BrAcctInf" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RrIdRel" type="RrIdRel" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AppdList" type="AppdList" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Note" type="Max50Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CdAcctInf">
		<xs:sequence>
			<xs:element name="CustCdAcctNo" type="Max32AlphaNumericSymbolText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BrAcctInf">
		<xs:sequence>
			<xs:element name="AcctName" type="Max150Text"/>
			<xs:element name="Acct" type="Max32AlphaNumericSymbolText"/>
			<xs:element name="OpenBrId" type="MaxMin9NumericText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RrIdRel">
		<xs:sequence>
			<xs:element name="RelTp" type="RelTp"/>
			<xs:element name="CurBrId" type="MaxMin9NumericText"/>
			<xs:element name="OrgnlBrId" type="MaxMin9NumericText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AppdList">
		<xs:sequence>
			<xs:element name="AppdInf" type="AppdInf" minOccurs="1" maxOccurs="60"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AppdInf">
		<xs:sequence>
			<xs:element name="FileType" type="AttTypeCode"/>
			<xs:element name="FileId" type="MaxMin32AlphaNumericText" minOccurs="1" maxOccurs="10"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BillList">
		<xs:sequence>
			<xs:element name="Bill" type="Bill"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Bill">
		<xs:sequence>
			<xs:element name="DraftBasicInf" type="DraftBasicInf"/>
			<xs:element name="DueDt" type="ISODate"/>
			<xs:element name="MatDt" type="ISODate"/>
			<xs:element name="TenorDays" type="Max10NumericText"/>
			<xs:element name="PayInt" type="CurrencyAndAmount"/>
			<xs:element name="SetAmt" type="CurrencyAndAmount"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DraftBasicInf">
		<xs:sequence>
			<xs:element name="CdNo" type="Max30NumericText"/>
			<xs:element name="CdRange" type="CdRangeType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CdAmt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StdAmt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExtInfs">
		<xs:sequence>
			<xs:element name="ExtInf" type="ExtInf"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExtInf">
		<xs:sequence>
			<xs:element name="Name" type="Max150Text"/>
			<xs:element name="Value" type="Max500Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="MaxMin16AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="16"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[a-zA-Z0-9]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="DCBusiType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RE4011"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TdDirection">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TDD01"/>
			<xs:enumeration value="TDD02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SendRange">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max2000Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:simpleType name="Max10AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[a-zA-Z0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProxySignatureCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PS00"/>
			<xs:enumeration value="PS01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max60Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin18AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="18"/>
			<xs:maxLength value="18"/>
			<xs:pattern value="[a-zA-Z0-9]{1,18}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CorpScale">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Industry">
		<xs:restriction base="xs:string">
		<xs:minLength value="1"/>
		<xs:maxLength value="131"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YON">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Province">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="102"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CdSource">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CS01"/>
			<xs:enumeration value="CS02"/>
			<xs:enumeration value="CS03"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DraftTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AC01"/>
			<xs:enumeration value="AC02"/>
		</xs:restriction>
	</xs:simpleType>
	
		<xs:simpleType name="CDMedia">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ME01"/>
			<xs:enumeration value="ME02"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max10NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="CurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
		<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="CNY"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="CurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="(\d{1,16})|(\d{1,16}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="PercentageRate">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{1,1}\.\d{1,6})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClearSpeed">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CS00"/>
			<xs:enumeration value="CS01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SettleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ST01"/>
			<xs:enumeration value="ST02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max1000Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin6NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max32AlphaNumericSymbolText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9-]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RelTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RT01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AttTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FT01"/>
			<xs:enumeration value="FT02"/>
			<xs:enumeration value="FT03"/>
			<xs:enumeration value="FT04"/>
			<xs:enumeration value="FT05"/>
			<xs:enumeration value="FT06"/>
			<xs:enumeration value="FT07"/>
			<xs:enumeration value="FT08"/>
			<xs:enumeration value="FT09"/>
			<xs:enumeration value="FT10"/> 
			<xs:enumeration value="FT11"/>
			<xs:enumeration value="FT12"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="MaxMin32AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="32"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max150Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin9NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DistTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DT01"/>
			<xs:enumeration value="DT02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max50Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max30NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max25Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max500Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PtcptSgntr">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max9AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[a-zA-Z0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:simpleType name="CdRangeType">
		<xs:restriction base="xs:string">
	    	<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
			<xs:pattern value="[0-9]{12}[,][0-9]{12}|[0]"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
