schema/up/MEM.007.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MainBody"/>
				<xs:element name="PtcptSgntr" type="Signature"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="MainBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgId"/><!-- 报文标识 -->
				<xs:element ref="RgstInf"/><!-- 登记申请人信息 -->
				<xs:element ref="BusiInf"/><!-- 业务信息 -->
				<xs:element ref="CorpAttr"/><!-- 客户信息 -->
				<xs:element ref="CorpProp" minOccurs="0" maxOccurs="1"/><!-- 客户属性信息 -->
				<xs:element ref="CorpCdtRatgsInf" minOccurs="0" maxOccurs="1"/><!-- 客户信用信息 -->
				<xs:element ref="CorpAcctInf" minOccurs="0" maxOccurs="unbounded"/><!-- 客户结算账户信息 -->
				<xs:element ref="PsnInf" minOccurs="0" maxOccurs="1"/><!-- 法定代表人信息 -->
				<xs:element ref="AttInfCol" minOccurs="0" maxOccurs="1"/><!-- 附件信息集合 -->
				<xs:element ref="ExtInfs" minOccurs="0" maxOccurs="1"/><!-- 扩展属性信息 -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- 报文标识 -->
	<xs:element name="MsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- 登记申请人信息 -->
	<xs:element name="RgstInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppBrId" type="MaxMin6NumericText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- 业务信息 -->
	<xs:element name="BusiInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Dt" type="ISODate"/>
				<xs:element name="ChgCtgy" type="CustChgCd"/>
				<xs:element name="SubChgCtgy" type="SubCustChgCd" minOccurs="0" maxOccurs="1"/>
				<xs:element name="SCOperTp" type="OperTp" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Note" type="Max150Text" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- 客户信息 -->
	<xs:element name="CorpAttr">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max60Text" minOccurs="0" maxOccurs="1"/>
				<xs:element name="SocCode" type="MaxMin18AlphaNumericSymbolText"/>
				<xs:element name="LccCode" type="Max32Text" minOccurs="0" maxOccurs="1"/>
				<xs:element name="LeiCode" type="Max32Text" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Email" type="Max75Text" minOccurs="0" maxOccurs="1"/>
				<xs:element name="ResiAddr" type="Max150Text" minOccurs="0" maxOccurs="1"/>
				<xs:element name="MainBusiAddr" type="Max150Text" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- 客户属性信息 -->
	<xs:element name="CorpProp">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CorpScale" type="CorpScale"/>
				<xs:element name="IndCls" type="Industry"/>
				<xs:element name="DrAcg" type="YON"/>
				<xs:element name="IsGr" type="YON"/>
				<xs:element name="CorpTp" type="CorpTp"/>
				<xs:element name="IsTech" type="YON"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- 客户信用信息 -->
	<xs:element name="CorpCdtRatgsInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CdtRatgs" type="CreditRatings"/>
				<xs:element name="RatgSub" type="Max60Text"/>
				<xs:element name="RatgDueDt" type="ISODate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- 客户结算账户信息 -->
	<xs:element name="CorpAcctInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AcctOperTp" type="OperTp"/>
				<xs:element name="AcctNm" type="Max150Text"/>
				<xs:element name="Acct" type="Max32AlphaNumericText"/>
				<xs:element name="AcctSvcr" type="MaxMin12NumericText"/>
				<xs:element name="AcctType" type="AcctTp" minOccurs="0" maxOccurs="1"/>
				<xs:element name="AcctFctvDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
				<xs:element name="AcctDueDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="AcctAgentInf" minOccurs="0" maxOccurs="1"/>
				<xs:element name="AutoClsFlag" type="YON" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- 授权代理人信息 -->
	<xs:element name="AcctAgentInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max20Text"/>
				<xs:element name="Phone" type="Max20Text"/>
				<xs:element name="DocTp" type="DocTp"/>
				<xs:element name="CertiNum" type="Max20Text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- 法定代表人信息 -->
	<xs:element name="PsnInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max20Text"/>
				<xs:element name="DocTp" type="DocTp"/>
				<xs:element name="DocNb" type="Max20Text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- 附件信息集合 -->
	<xs:element name="AttInfCol">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AttInf" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- 附件信息 -->
	<xs:element name="AttInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AttType" type="AttTypeCode"/>
				<xs:element name="AttBtNo" type="MaxMin32AlphaNumericText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- 扩展属性信息 -->
	<xs:element name="ExtInfs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ExtInf" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- 扩展属性 -->
	<xs:element name="ExtInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max150Text"/>
				<xs:element name="Value" type="Max500Text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name="Max20Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max32Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max60Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max75Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="75"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max150Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max500Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:simpleType name="MaxMin6NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin12NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="12"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="[0-9]{1,12}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Max32AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin32AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="32"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[a-zA-Z0-9]{1,32}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="MaxMin18AlphaNumericSymbolText">
		<xs:restriction base="xs:string">
			<xs:minLength value="18"/>
			<xs:maxLength value="18"/>
			<xs:pattern value="[a-zA-Z0-9\-]{1,18}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	
	<xs:simpleType name="AcctTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AT01"/>
			<xs:enumeration value="AT02"/>
			<xs:enumeration value="AT03"/>
			<xs:enumeration value="AT04"/>
			<xs:enumeration value="AT05"/>
			<xs:enumeration value="AT06"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="AttTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FT01"/>
			<xs:enumeration value="FT02"/>
			<xs:enumeration value="FT03"/>
			<xs:enumeration value="FT04"/>
			<xs:enumeration value="FT05"/>
			<xs:enumeration value="FT06"/>
			<xs:enumeration value="FT07"/>
			<xs:enumeration value="FT08"/>
			<xs:enumeration value="FT09"/>
			<xs:enumeration value="FT10"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="CorpScale">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SC00"/>
			<xs:enumeration value="SC01"/>
			<xs:enumeration value="SC02"/>
			<xs:enumeration value="SC03"/>
			<xs:enumeration value="SC04"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="CorpTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CT01"/>
			<xs:enumeration value="CT02"/>
			<xs:enumeration value="CT03"/>
			<xs:enumeration value="CT04"/>
			<xs:enumeration value="CT05"/>
			<xs:enumeration value="CT06"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="CreditRatings">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[1-9A-Za-z\-\+]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="CustChgCd">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CC00"/>
			<xs:enumeration value="CC01"/>
			<xs:enumeration value="CC02"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="DocTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DC01"/>
			<xs:enumeration value="DC02"/>
			<xs:enumeration value="DC03"/>
			<xs:enumeration value="DC04"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Industry">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A0000"/>
			<xs:enumeration value="B0000"/>
			<xs:enumeration value="C0000"/>
			<xs:enumeration value="D0000"/>
			<xs:enumeration value="E0000"/>
			<xs:enumeration value="F0000"/>
			<xs:enumeration value="G0000"/>
			<xs:enumeration value="H0000"/>
			<xs:enumeration value="I0000"/>
			<xs:enumeration value="J0000"/>
			<xs:enumeration value="K0000"/>
			<xs:enumeration value="L0000"/>
			<xs:enumeration value="M0000"/>
			<xs:enumeration value="N0000"/>
			<xs:enumeration value="O0000"/>
			<xs:enumeration value="P0000"/>
			<xs:enumeration value="Q0000"/>
			<xs:enumeration value="R0000"/>
			<xs:enumeration value="S0000"/>
			<xs:enumeration value="T0000"/>
			<xs:enumeration value="U0000"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="OperTp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OT01"/>
			<xs:enumeration value="OT02"/>
			<xs:enumeration value="OT03"/>
			<xs:enumeration value="OT04"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="SubCustChgCd">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SC01"/>
			<xs:enumeration value="SC02"/>
			<xs:enumeration value="SC03"/>
			<xs:enumeration value="SC04"/>
			<xs:enumeration value="SC05"/>
			<xs:enumeration value="SC06"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="YON">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Signature">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
