schema/up/NCP.015.002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MainBody"/>
				<xs:element name="PtcptSgntr" type="Signature"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MainBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgId"/>
				<xs:element ref="CdInf"/>
				<xs:element ref="AddGuaInf"/>
				<xs:element ref="ExtInfs" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MsgId">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="Max35NumericText"/>
				<xs:element name="CreDtTm" type="ISODateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CdInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CdNo" type="Max30NumericText"/>
				<xs:element name="CdAmt" type="CurrencyAndAmount"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddGuaInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AddAppDt" type="ISODate"/>
				<xs:element name="AddAppBrId" type="MaxMin9NumericText"/>
				<xs:element name="MvOutBrId" type="MaxMin9NumericText"/>
				<xs:element name="AddGrntBrId" type="MaxMin9NumericText"/>
				<xs:element name="Note" type="Max150Text" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ExtInfs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ExtInf" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ExtInf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="Max150Text" />
				<xs:element name="Value" type="Max500Text" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Signature">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="Max30NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CurrencyAndAmount_SimpleType"><!-- kfzx-chenl1 20170915 直连接口 case 修改后金额支持整数最大16位，小数最大2位，不支持类似.01或111.的输入，支持类似0001的输入 -->
		<xs:restriction base="xs:decimal">
			<xs:pattern value="(\d{1,16})|(\d{1,16}\.\d{1,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="CNY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="MaxMin9NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[0-9]{1,12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max150Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max500Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="500" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
