schema/up/SDN.001.001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--存托信息转发报文(SDN.001.001)-->
    <xs:element name="Document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MainBody" type="MainBody"/>
                <xs:element name="CdesSgntr" type="Signature"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="MainBody">
        <xs:sequence>
            <xs:element name="MsgId" type="MsgId"/>
            <xs:element name="ReqMsgInf" type="ReqMsgInf"/>     <!-- 原报文业务信息 -->
            <xs:element name="DpstRsinf" type="DpstRsinf"/>     <!--存托应答方信息-->
            <xs:element name="ApplyAppInf" type="ApplyAppInf"/> <!--存托申请单信息-->
            <xs:element name="CdInf" type="CdInf"/> <!-- 票据信息-->
        </xs:sequence>
    </xs:complexType>
    <!-- 原报文业务mainBody -->
    <xs:complexType name="CBS018">
        <xs:sequence>
            <xs:element name="MsgId" type="orgMsgId"/>
            <xs:element name="DpstInf" type="orgDpstInf"/> <!-- DpstInf 存托信息-->
            <xs:element name="DpstReqMemInf" type="orgDpstReqMemInf"/> <!-- 存托申请人信息 -->
            <xs:element name="StdCdPrdtInf" type="orgStdCdPrdtInf"/> <!-- 标准化票据产品信息 -->
            <xs:element name="CdInf" type="orgCdInf" minOccurs="1" maxOccurs="unbounded"/> <!-- 票据信息-->
        </xs:sequence>
    </xs:complexType>
     <!--  报文标识-->
    <xs:complexType name="MsgId">
        <xs:sequence>
             <xs:element name="Id" type="Max35AlphaNumericText"/>
             <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
     
     <!-- 原报文业务信息 -->
     <xs:complexType name="ReqMsgInf">
        <xs:sequence>
          <xs:element name="CBS018" type="CBS018"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- 存托应答方信息-->
    <xs:complexType name="DpstRsinf">
        <xs:sequence>
            <xs:element name="DpstBrId" type="MaxMin9NumericText"/> <!-- 存托应答方存托类产品代码 -->
        </xs:sequence>
    </xs:complexType>
    
    <!-- 存托申请单信息-->
    <xs:complexType name="ApplyAppInf">
        <xs:sequence>
            <xs:element name="ApplyId" type="Max20AlphaNumericText"/> <!-- 存托申请单编号 -->
        </xs:sequence>
    </xs:complexType>
    <!-- 票据信息 支持多个票据包一同上传-->
    <xs:complexType name="CdInf">
		<xs:sequence>
			<xs:element name="Bill" type="Bill" minOccurs="1" maxOccurs="unbounded"/><!-- 票据 -->
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name="Bill">
		<xs:sequence>
			<xs:element name="CdNo" type="Max30AlphaNumericText"/> <!-- 票据号码 -->
			<xs:element name="CdAmt" type="CurrencyAndAmount"/>    <!-- 票据金额 -->
			<xs:element name="DueDate" type="ISODate"/>            <!-- 票据到期日 -->
			<xs:element name="BpNo" type="MaxMin30NumericText" minOccurs="0" maxOccurs="1"/>   <!-- 票据包编号-->
			<xs:element name="BpRange" type="Max25Text" minOccurs="0" maxOccurs="1"/>          <!-- 子票据区间号 -->
			
			<xs:element name="DsctDt" type="ISODate" minOccurs="0" maxOccurs="1"/>      <!-- 贴现日期 -->
			<xs:element name="IssDt" type="ISODate"/>       <!-- 出票日期-->
			<xs:element name="DwrName" type="Max60Text"/>   <!-- 出票人名称 -->
			<xs:element name="PayName" type="Max60Text"/>   <!-- 承兑人名称 -->
			<xs:element name="AcptSvcrBrId" type="MaxMin9NumericText"/>   <!-- 承兑人开户行机构代码 -->
			
			<xs:element name="DsctBrId" type="MaxMin9NumericText" minOccurs="0" maxOccurs="1"/>    <!-- 贴现行机构代码 -->
			<xs:element name="AddGrntBrId" type="MaxMin9NumericText" minOccurs="0" maxOccurs="1"/> <!-- 保证增信行机构代码 -->
			<xs:element name="AcptCfmBrId" type="MaxMin9NumericText" minOccurs="0" maxOccurs="1"/> <!-- 承兑人开户行（确认）机构代码 -->
			<xs:element name="AcptGrntBrId" type="MaxMin9NumericText" minOccurs="0" maxOccurs="1"/><!-- 承兑保证行机构代码 -->
			<xs:element name="DsctGrntBrId" type="MaxMin9NumericText" minOccurs="0" maxOccurs="1"/><!-- 贴现保证人机构代码 -->
			
			<xs:element name="TenorDays" type="Max10NumericText"/><!-- 剩余期限 -->			
		</xs:sequence>
	</xs:complexType>
    <!-- 存托信息(原报文)-->
   <xs:complexType name="orgDpstInf">
         <xs:sequence>
             <xs:element name="DpstReqDt" type="ISODate"/> <!-- 存托申请日期 -->
             <xs:element name="FinRtUp" type="PercentageRate"/> <!-- 融资利率上限 -->
             <xs:element name="FinRtDown" type="PercentageRate"/> <!-- 融资利率下限-->
             <xs:element name="SetMode" type="SettleType"/> <!-- 结算方式 -->
         </xs:sequence>
    </xs:complexType>
       <!-- 存托申请人信息(原报文) -->
     <xs:complexType name="orgDpstReqMemInf">
         <xs:sequence>
             <xs:element name="SocCode" type="MaxMin18AlphaNumericSymbolText"/><!-- 存托申请人社会统一信用代码 -->
             <xs:element name="PlatCode" type="MaxMin6AlphaNumericText"/><!-- 存托申请人所在平台代码 -->
	 <xs:element name="BnkCode" type="MaxMin12NumericText"/><!-- 存托申请人开户行行号 -->
             <!--                新增 2020-8-19 10:55:27-->
             <xs:element name="Acct" type="Max32AlphaNumericText"/><!-- 存托申请人开户行账号 -->
             <xs:element name="Eres" type="Max2000Text"/><!-- 电子签名 -->
         </xs:sequence>
     </xs:complexType>
     <!-- 标准化票据产品信息(原报文) -->
     <xs:complexType name="orgStdCdPrdtInf">
         <xs:sequence>
             <xs:element name="StdCdPrdtCd" type="MaxMin9NumericText"/><!-- 标准化票据产品代码 -->
             <xs:element name="StdCdPrdtBnkNm" type="MaxMin0Text"/> <!-- 标准化票据产品开户行名称 -->
             <xs:element name="AcctSvcr" type="MaxMin0NumericText"/><!-- 标准化票据产品开户行行号-->
         </xs:sequence>
     </xs:complexType>
     <!-- 票据信息 支持多个票据包一同上传(原报文)-->
     <xs:complexType name="orgCdInf">
         <xs:sequence>
             <xs:element name="BpNo" type="MaxMin30NumericText"/><!-- 票据包编号-->
             <xs:element name="BpRange" type="Max25Text"/><!-- 原子票包区间 -->
             <xs:element name="BpAmt" type="CurrencyAndAmount"/>
             <xs:element name="DpstAmt" type="CurrencyAndAmount"/> <!-- 存托金额=存托张数*标准金额 -->
             <xs:element name="DpstNum" type="Max18NumericText"/><!-- 存托数量 -->
             <xs:element name="DpstRange" type="Max25Text"/><!-- 存托区间 -->
             <xs:element name="BpStd" type="CurrencyAndAmount"/><!-- 标准金额 -->
			 <xs:element name="DueDt" type="ISODate"/>
             <xs:element name="TenorDays" type="Max10NumericText"/><!-- 票据包剩余期限 -->
         </xs:sequence>
     </xs:complexType>
     <!--  报文标识(原报文)-->
     <xs:complexType name="orgMsgId">
         <xs:sequence>
             <xs:element name="Id" type="Max35AlphaNumericText"/>
             <xs:element name="CreDtTm" type="ISODateTime"/>
         </xs:sequence>
     </xs:complexType>
    <xs:simpleType name="Max35AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
            <xs:pattern value="[a-zA-Z0-9]{1,35}"/>
        </xs:restriction>
    </xs:simpleType>
    <!--    新增 2020-8-19 11:21:04-->
    <xs:simpleType name="Max18NumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="18"/>
            <xs:pattern value="[a-zA-Z0-9]{1,10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10NumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
            <xs:pattern value="[a-zA-Z0-9]{1,10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:string">
            <xs:pattern value="(\d{1,1})|(\d{1,1}\.\d{1,6})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SettleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ST01"/>
            <!--            添加fop 2020-8-19 10:49:07-->
            <xs:enumeration value="ST02"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MaxMin9AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="9"/>
            <xs:maxLength value="9"/>
            <xs:pattern value="[a-zA-Z0-9]{1,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MaxMin18AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="18"/>
            <xs:maxLength value="18"/>
            <xs:pattern value="[a-zA-Z0-9]{1,18}"/>
        </xs:restriction>
    </xs:simpleType>
    <!--    新增 2020-8-19 11:11:03-->
    <xs:simpleType name="MaxMin10NumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="10"/>
            <xs:maxLength value="10"/>
            <xs:pattern value="[0-9]{10}"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="MaxMin9NumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="9"/>
            <xs:maxLength value="9"/>
            <xs:pattern value="[0-9]{9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MaxMin6AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="6"/>
            <xs:maxLength value="6"/>
            <xs:pattern value="[a-zA-Z0-9]{1,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <!--    新增类型 2020-8-19 10:53:41-->
    <xs:simpleType name="Max32AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="32"/>
            <xs:pattern value="[a-zA-Z0-9]{1,32}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MaxMin12NumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="12"/>
            <xs:maxLength value="12"/>
            <xs:pattern value="[0-9]{1,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MaxMin30NumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="30"/>
            <xs:maxLength value="30"/>
            <xs:pattern value="[0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>
    <!--    新增 2020-8-19 11:16:22-->
    <xs:simpleType name="Max450Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="450"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
            <xs:pattern value="[a-zA-Z0-9]{1,20}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="CurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:pattern value="(\d{1,16})|(\d{1,16}\.\d{1,2})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="CNY"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Max25Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="25"/>
            <xs:pattern value="[0-9]{12}\,[0-9]{12}" />
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="Max60Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max30AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Signature">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaxMin18AlphaNumericSymbolText">
        <xs:restriction base="xs:string">
            <xs:minLength value="18"/>
            <xs:maxLength value="18"/>
            <xs:pattern value="[a-zA-Z0-9\-]{1,18}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MaxMin0Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MaxMin0NumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="0"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
