schema/up/SDN.003.002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Document">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MainBody"/>
                <xs:element name="PtcptSgntr" type="Signature"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MainBody">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MsgId"/>
                <xs:element ref="WthdRqInf"/>
                <xs:element ref="WthdInfo"/>
                <xs:element ref="ApplyAppInf"  minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="ExtInfs" minOccurs="0" maxOccurs="1"/> <!-- 扩展属性信息-->
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MsgId">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Id" type="Max35NumericText"/>
                <xs:element name="CreDtTm" type="ISODateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="WthdRqInf">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DpstBrId" type="MaxMin9NumericText"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="WthdInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="WthdDate" type="ISODate"/>
                <xs:element name="WthdTp" type="WthdTp"/>
                <xs:element name="WthdInf" type="Max2000Text" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ApplyAppInf">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ApplyId" type="Max20AlphaNumericText"/>
                <xs:element name="RefCdAmt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1" />
                <xs:element name="RefDrftNm" type="Max6NumericText" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="CdInf" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CdInf">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Bill" type="Bill" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Bill">
        <xs:sequence>
            <xs:element name="CdNo" type="Max30AlphaNumericText"/>
            <xs:element name="CdRange" type="Max25Text" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CdAmt" type="CurrencyAndAmount"/>
            <xs:element name="StdAmt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
     
    <!-- 扩展属性信息-->
    <xs:element name="ExtInfs">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ExtInf" minOccurs="1" maxOccurs="unbounded"/><!-- 扩展属性 -->
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- 扩展属性 -->
    <xs:element name="ExtInf">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Name" type="Max150Text"/> <!-- 属性名 -->
                <xs:element name="Value" type="Max150Text"/> <!-- 属性值 -->
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:simpleType name="Max35NumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
            <xs:pattern value="[0-9]{1,35}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="MaxMin9NumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="9"/>
            <xs:maxLength value="9"/>
            <xs:pattern value="[0-9]{1,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max150Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="150"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max25Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
            <xs:pattern value="[a-zA-Z0-9]{1,20}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="CurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="CurrencyCode"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:pattern value="(\d{1,16})|(\d{1,16}\.\d{1,2})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="CNY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max30AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
            <xs:pattern value="[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="WthdTp">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WT01"/>
            <xs:enumeration value="WT02"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6NumericText">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
            <xs:pattern value="[0-9]{1,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Signature">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
